@mixin block( $color){ height: auto; width: auto; transition: transform 0.2s; fill:$color; .st0{fill:$color;} .st1{fill:none;stroke:$color;stroke-miterlimit:10;} &:hover{ transform: scale(1.1); } @media (max-width: 770px) { transform: scale(0.8); } }

// NOTE:  blue is actually white because i am an idiot
// NOTE:  white is acutally blue because i am an idiot




.blue_row_one_0{ @include block(#FFFFFF)}

.blue_row_one_1{ @include block(#fdfbfb) }

.blue_row_one_2{ @include block(#fbfdfb) }

.blue_row_one_3{ @include block(#fdfdff) }

.blue_row_one_4{ @include block(#fdf9f9) }

.blue_row_one_5{ @include block(#fdfbfb) }

.blue_row_two_0{ @include block(#fcfcfc) }

.blue_row_two_1{ @include block(#f7f7f7) }

.blue_row_two_2{ @include block(#f3f3f3) }

.blue_row_two_3{ @include block(#eeeeee) }

.blue_row_two_4{ @include block(#eaeaea) }

.blue_row_two_5{ @include block(#F5F5F5) }

.blue_row_three_0{ @include block(#fffafa) }

.blue_row_three_1{ @include block(#f0f0f0) }

.blue_row_three_2{ @include block(#e3e3e3) }

.blue_row_three_3{ @include block(#cecece) }

.blue_row_three_4{ @include block(#bdbcbc) }

.blue_row_three_5{ @include block(#ebebeb) }

.blue_row_four_0{ @include block( #efefef) }

.blue_row_four_1{ @include block(#f7f8f8) }

.blue_row_four_2{ @include block(#fafafa) }

.blue_row_four_3{ @include block(#fffff9) }

.blue_row_four_4{ @include block(#fdfffc) }

.blue_row_four_5{ @include block(#fcfcff) }

.blue_row_five_0{ @include block(#fef9ff) }

.blue_row_five_1{ @include block(#F8F8FF) }

.blue_row_five_2{ @include block(#FEFEFA) }

.blue_row_five_3{ @include block(#FFFAFA) }

.blue_row_five_4{ @include block(#F8F8FF) }

.blue_row_five_5{ @include block(#F7F6F0) }

.blue_row_six_0{ @include block(#F2F2F2) }

.blue_row_six_1{ @include block(#F7F8F4) }

.blue_row_six_2{ @include block(#EDEFEE) }

.blue_row_six_3{ @include block(#D7DAD8) }

.blue_row_six_4{ @include block(#CBCECC) }

.blue_row_six_5{ @include block(#EDEDE5) }

.blue_row_seven_0{ @include block(#F2F0E6) }

.blue_row_seven_1{ @include block(#EEECE5) }

.blue_row_seven_2{ @include block(#EEEAE0) }

.blue_row_seven_3{ @include block(#EBE9E0) }

.blue_row_seven_4{ @include block(#ECE5D6) }

.blue_row_seven_5{ @include block(#EFEAE0) }

.blue_row_eight_0{ @include block(#E4DFD4) }

.blue_row_eight_1{ @include block(#E4E0DA) }

.blue_row_eight_2{ @include block(#ECE5D7) }

.blue_row_eight_3{ @include block(#ECE5D6) }

.blue_row_eight_4{ @include block(#D0C8C1) }

.blue_row_eight_5{ @include block(#DBD5CE) }

.blue_row_nine_0{ @include block(#ECE8D3) }

.blue_row_nine_1{ @include block(#CFCABB) }

.blue_row_nine_2{ @include block(#D0C8C1) }

.blue_row_nine_3{ @include block(#F1F2F1) }

.blue_row_nine_4{ @include block(#DDD5B7) }

.blue_row_nine_5{ @include block(#CFCABB) }

.blue_row_ten_0{ @include block(#EAE3DA) }

.blue_row_ten_1{ @include block(#D7CEC1) }

.blue_row_ten_2{ @include block(#ECE5D7) }

.blue_row_ten_3{ @include block(#DBD5CE) }

.blue_row_ten_4{ @include block(#E5DFC6) }

.blue_row_ten_5{ @include block(#F3EBD8) }












// GREYS








.greys_row_one_0{ @include block(#aaaaaa) }

.greys_row_one_1{ @include block(#bbbbbb) }

.greys_row_one_2{ @include block(#cccccc) }

.greys_row_one_3{ @include block(#858585) }

.greys_row_one_4{ @include block(#bcbcbc) }

.greys_row_one_5{ @include block(#CACDCC) }

.greys_row_two_0{ @include block(#dddddd) }

.greys_row_two_1{ @include block(#eeeeee) }

.greys_row_two_2{ @include block(#eeebeb) }

.greys_row_two_3{ @include block(#dbdbdb) }

.greys_row_two_4{ @include block(#cecccc) }

.greys_row_two_5{ @include block(#dddddd) }

.greys_row_three_0{ @include block(#d2d2d4) }

.greys_row_three_1{ @include block(#C2CBD2) }

.greys_row_three_2{ @include block(#ADB1B2) }

.greys_row_three_3{ @include block(#A9A9A9) }

.greys_row_three_4{ @include block(#B8B8B8) }

.greys_row_three_5{ @include block(#999999) }

.greys_row_four_0{ @include block(#9C9C9C) }

.greys_row_four_1{ @include block(#9E9E9E) }

.greys_row_four_2{ @include block(#A1A1A1) }

.greys_row_four_3{ @include block(#A3A3A3) }

.greys_row_four_4{ @include block(#A6A6A6) }

.greys_row_four_5{ @include block(#A9A9A9) }

.greys_row_five_0{ @include block(#A8A8A8) }

.greys_row_five_1{ @include block(#ABABAB) }

.greys_row_five_2{ @include block(#AAAAAA) }

.greys_row_five_3{ @include block(#ADADAD) }

.greys_row_five_4{ @include block(#B0B0B0) }

.greys_row_five_5{ @include block(#B3B3B3) }

.greys_row_six_0{ @include block(#B5B5B5) }

.greys_row_six_1{ @include block(#B8B8B8) }

.greys_row_six_2{ @include block(#BABABA) }

.greys_row_six_3{ @include block(#BDBDBD) }

.greys_row_six_4{ @include block(#C0C0C0) }

.greys_row_six_5{ @include block(#BEBEBE) }

.greys_row_seven_0{ @include block(#BFBFBF) }

.greys_row_seven_1{ @include block(#C2C2C2) }

.greys_row_seven_2{ @include block(#C4C4C4) }

.greys_row_seven_3{ @include block(#C7C7C7) }

.greys_row_seven_4{ @include block(#C9C9C9) }

.greys_row_seven_5{ @include block(#CDCDCD) }

.greys_row_eight_0{ @include block(#CCCCCC) }

.greys_row_eight_1{ @include block(#CFCFCF) }

.greys_row_eight_2{ @include block(#D1D1D1) }

.greys_row_eight_3{ @include block(#D4D4D4) }

.greys_row_eight_4{ @include block(#D3D3D3) }

.greys_row_eight_5{ @include block(#D6D6D6) }

.greys_row_nine_0{ @include block(#D9D9D9) }

.greys_row_nine_1{ @include block(#DCDCDC) }

.greys_row_nine_2{ @include block(#DBDBDB) }

.greys_row_nine_3{ @include block(#DEDEDE) }

.greys_row_nine_4{ @include block(#E0E0E0) }

.greys_row_nine_5{ @include block(#E3E3E3) }

.greys_row_ten_0{ @include block(#E5E5E5) }

.greys_row_ten_1{ @include block(#E8E8E8) }

.greys_row_ten_2{ @include block(#EBEBEB) }

.greys_row_ten_3{ @include block(#EDEDED) }

.greys_row_ten_4{ @include block(#F0F0F0) }

.greys_row_ten_5{ @include block(#F2F2F2) }







// BEIGES









.beige_row_one_0{ @include block(#E5D8C7) }

.beige_row_one_1{ @include block(#F4E4D6) }

.beige_row_one_2{ @include block(#F0DFD0) }

.beige_row_one_3{ @include block(#EAD8C8) }

.beige_row_one_4{ @include block(#E3D0BE) }

.beige_row_one_5{ @include block(#DBC9B8) }

.beige_row_two_0{ @include block(#FAF0E6) }

.beige_row_two_1{ @include block(#FFF0DB) }

.beige_row_two_2{ @include block(#EED9C4) }

.beige_row_two_3{ @include block(#E4D5B7) }

.beige_row_two_4{ @include block(#D9B99B) }

.beige_row_two_5{ @include block(#F6E8D6) }

.beige_row_three_0{ @include block(#ECDCC7) }

.beige_row_three_1{ @include block(#CEC0AF) }

.beige_row_three_2{ @include block(#ABA192) }

.beige_row_three_3{ @include block(#90877C) }

.beige_row_three_4{ @include block(#ECDCCF) }

.beige_row_three_5{ @include block(#EAD8CA) }

.beige_row_four_0{ @include block(#DECEB5) }

.beige_row_four_1{ @include block(#F1EBDB) }

.beige_row_four_2{ @include block(#F0E8C4) }

.beige_row_four_3{ @include block(#BAA48C) }

.beige_row_four_4{ @include block(#E0CBB0) }

.beige_row_four_5{ @include block(#EEE0C5) }

.beige_row_five_0{ @include block(#E6E2D9) }

.beige_row_five_1{ @include block(#F1D7C8) }

.beige_row_five_2{ @include block(#D8C8AE) }

.beige_row_five_3{ @include block(#F7D8AA) }

.beige_row_five_4{ @include block(#F4E4D6) }

.beige_row_five_5{ @include block(#F0DFD0) }

.beige_row_six_0{ @include block(#EAD8C8) }

.beige_row_six_1{ @include block(#E3D0BE) }

.beige_row_six_2{ @include block(#DBC9B8) }

.beige_row_six_3{ @include block(#C4AE8E) }

.beige_row_six_4{ @include block(#E5DCCB) }

.beige_row_six_5{ @include block(#EADDCA) }

.beige_row_seven_0{ @include block(#E7DCC6) }

.beige_row_seven_1{ @include block(#E8DCC6) }

.beige_row_seven_2{ @include block(#E9DFC6) }

.beige_row_seven_3{ @include block(#D6C6AD) }

.beige_row_seven_4{ @include block(#E2C9AA) }

.beige_row_seven_5{ @include block(#DBC8A7) }

.beige_row_eight_0{ @include block(#E1CDAA) }

.beige_row_eight_1{ @include block(#DDCEAD) }

.beige_row_eight_2{ @include block(#C6B196) }

.beige_row_eight_3{ @include block(#D6B592) }

.beige_row_eight_4{ @include block(#CBB58E) }

.beige_row_eight_5{ @include block(#DABB8D) }

.beige_row_nine_0{ @include block(#CFBE93) }

.beige_row_nine_1{ @include block(#B9A185) }

.beige_row_nine_2{ @include block(#CAA77F) }

.beige_row_nine_3{ @include block(#C3A984) }

.beige_row_nine_4{ @include block(#CFB384) }

.beige_row_nine_5{ @include block(#C1AE84) }

.beige_row_ten_0{ @include block(#F4E6CE) }

.beige_row_ten_1{ @include block(#F1E9D7) }

.beige_row_ten_2{ @include block(#F2E1CC) }

.beige_row_ten_3{ @include block(#F6E6D4) }

.beige_row_ten_4{ @include block(#F5E4CF) }

.beige_row_ten_5{ @include block(#EAD2B4) }












// dark greys_row_ten_5





.darkgrey_row_one_0{ @include block(#808080) }

.darkgrey_row_one_1{ @include block(#666666) }

.darkgrey_row_one_2{ @include block(#595959) }

.darkgrey_row_one_3{ @include block(#4C4C4C) }

.darkgrey_row_one_4{ @include block(#333333) }

.darkgrey_row_one_5{ @include block(#514E4C) }

.darkgrey_row_two_0{ @include block(#777777) }

.darkgrey_row_two_1{ @include block(#545B72) }

.darkgrey_row_two_2{ @include block(#505567) }

.darkgrey_row_two_3{ @include block(#464C5E) }

.darkgrey_row_two_4{ @include block(#393E51) }

.darkgrey_row_two_5{ @include block(#2C3142) }

.darkgrey_row_three_0{ @include block(#424242) }

.darkgrey_row_three_1{ @include block(#3A3A3A) }

.darkgrey_row_three_2{ @include block(#313131) }

.darkgrey_row_three_3{ @include block(#242424) }

.darkgrey_row_three_4{ @include block(#5E5E5E) }

.darkgrey_row_three_5{ @include block(#575757) }

.darkgrey_row_four_0{ @include block(#4D4D4D) }

.darkgrey_row_four_1{ @include block(#454545) }

.darkgrey_row_four_2{ @include block(#3E3E3E) }

.darkgrey_row_four_3{ @include block(#727578) }

.darkgrey_row_four_4{ @include block(#686E76) }

.darkgrey_row_four_5{ @include block(#606872) }

.darkgrey_row_five_0{ @include block(#505963) }

.darkgrey_row_five_1{ @include block(#4B535C) }

.darkgrey_row_five_2{ @include block(#151515) }

.darkgrey_row_five_3{ @include block(#242424) }

.darkgrey_row_five_4{ @include block(#494949) }

.darkgrey_row_five_5{ @include block(#636262) }

.darkgrey_row_six_0{ @include block(#171a21) }

.darkgrey_row_six_1{ @include block(#2D2D2D) }

.darkgrey_row_six_2{ @include block(#333333) }

.darkgrey_row_six_3{ @include block(#3A3A3A) }

.darkgrey_row_six_4{ @include block(#424242) }

.darkgrey_row_six_5{ @include block(#4B4B4B) }

.darkgrey_row_seven_0{ @include block(#404040) }

.darkgrey_row_seven_1{ @include block(#514E4C) }

.darkgrey_row_seven_2{ @include block(#2E2E2E) }

.darkgrey_row_seven_3{ @include block(#2D2D32) }

.darkgrey_row_seven_4{ @include block(#585858) }

.darkgrey_row_seven_5{ @include block(#676767) }

.darkgrey_row_eight_0{ @include block(#454545) }

.darkgrey_row_eight_1{ @include block(#363636) }

.darkgrey_row_eight_2{ @include block(#272727) }

.darkgrey_row_eight_3{ @include block(#292622) }

.darkgrey_row_eight_4{ @include block(#353535) }

.darkgrey_row_eight_5{ @include block(#262626) }

.darkgrey_row_nine_0{ @include block(#1e1e1e) }

.darkgrey_row_nine_1{ @include block(#1F1F1F) }

.darkgrey_row_nine_2{ @include block(#35363B) }

.darkgrey_row_nine_3{ @include block(#494846) }

.darkgrey_row_nine_4{ @include block(#363636) }

.darkgrey_row_nine_5{ @include block(#252527) }

.darkgrey_row_ten_0{ @include block(#403F3D) }

.darkgrey_row_ten_1{ @include block(#121212) }

.darkgrey_row_ten_2{ @include block(#2D2D2D) }

.darkgrey_row_ten_3{ @include block(#272E36) }

.darkgrey_row_ten_4{ @include block(#3E3E3E) }

.darkgrey_row_ten_5{ @include block(#343434) }











// blacks



.black_row_one_0{ @include block(#000000) }

.black_row_one_1{ @include block(#030303) }

.black_row_one_2{ @include block(#050505) }

.black_row_one_3{ @include block(#080808) }

.black_row_one_4{ @include block(#0A0A0A) }

.black_row_one_5{ @include block(#0D0D0D) }

.black_row_two_0{ @include block(#010101) }

.black_row_two_1{ @include block(#020202) }

.black_row_two_2{ @include block(#040404) }

.black_row_two_3{ @include block(#060606) }

.black_row_two_4{ @include block(#070707) }

.black_row_two_5{ @include block(#0C0C0C) }











// browns







.brown_row_one_0{ @include block(#40220F) }

.brown_row_one_1{ @include block(#7F4F21) }

.brown_row_one_2{ @include block(#B28247) }

.brown_row_one_3{ @include block(#C9A063) }

.brown_row_one_4{ @include block(#FFF5E0) }

.brown_row_one_5{ @include block(#734B3D) }

.brown_row_two_0{ @include block(#715045) }

.brown_row_two_1{ @include block(#7D594D) }

.brown_row_two_2{ @include block(#896154) }

.brown_row_two_3{ @include block(#7C4F41) }

.brown_row_two_4{ @include block(#8D4343) }

.brown_row_two_5{ @include block(#6F3B3B) }

.brown_row_three_0{ @include block(#583131) }

.brown_row_three_1{ @include block(#422C2C) }

.brown_row_three_2{ @include block(#332424) }

.brown_row_three_3{ @include block(#DDCCBE) }

.brown_row_three_4{ @include block(#DDC0A6) }

.brown_row_three_5{ @include block(#C1A07F) }

.brown_row_four_0{ @include block(#A57E57) }

.brown_row_four_1{ @include block(#A87848) }

.brown_row_four_2{ @include block(#29180A) }

.brown_row_four_3{ @include block(#2D1A0C) }

.brown_row_four_4{ @include block(#3C2210) }

.brown_row_four_5{ @include block(#3C2210) }

.brown_row_five_0{ @include block(#472812) }

.brown_row_five_1{ @include block(#543016) }

.brown_row_five_2{ @include block(#42372D) }

.brown_row_five_3{ @include block(#5A4A3D) }

.brown_row_five_4{ @include block(#6D5B4B) }

.brown_row_five_5{ @include block(#8B715C) }

.brown_row_six_0{ @include block(#A3856B) }

.brown_row_six_1{ @include block(#D6BAA9) }

.brown_row_six_2{ @include block(#B8917B) }

.brown_row_six_3{ @include block(#5D4A44) }

.brown_row_six_4{ @include block(#846761) }

.brown_row_six_5{ @include block(#C5A77A) }

.brown_row_seven_0{ @include block(#CEB990) }

.brown_row_seven_1{ @include block(#C7AD88) }

.brown_row_seven_2{ @include block(#B29969) }

.brown_row_seven_3{ @include block(#D8C6A2) }

.brown_row_seven_4{ @include block(#270C00) }

.brown_row_seven_5{ @include block(#582800) }

.brown_row_eight_0{ @include block(#5C2B2B) }

.brown_row_eight_1{ @include block(#4D2828) }

.brown_row_eight_2{ @include block(#3A1C1C) }

.brown_row_eight_3{ @include block(#221313) }

.brown_row_eight_4{ @include block(#0F0606) }

.brown_row_eight_5{ @include block(#5A3E29) }

.brown_row_nine_0{ @include block(#8A5D3C) }

.brown_row_nine_1{ @include block(#B1A1A2) }

.brown_row_nine_2{ @include block(#4B3027) }

.brown_row_nine_3{ @include block(#B69C9D) }

.brown_row_nine_4{ @include block(#68463A) }

.brown_row_nine_5{ @include block(#8E5E47) }

.brown_row_ten_0{ @include block(#C39887) }

.brown_row_ten_1{ @include block(#683B28) }

.brown_row_ten_2{ @include block(#A57548) }

.brown_row_ten_3{ @include block(#FCD7AD) }

.brown_row_ten_4{ @include block(#F6C28B) }

.brown_row_ten_5{ @include block(#5F3D31) }





// Oranges











.orange_row_one_0{ @include block(#FF3400) }

.orange_row_one_1{ @include block(#FF4500) }

.orange_row_one_2{ @include block(#FF5600) }

.orange_row_one_3{ @include block(#FF7800) }

.orange_row_one_4{ @include block(#FF8A00) }

.orange_row_one_5{ @include block(#EA5336) }

.orange_row_two_0{ @include block(#F06D39) }

.orange_row_two_1{ @include block(#E9630A) }

.orange_row_two_2{ @include block(#ED8530) }

.orange_row_two_3{ @include block(#FAB45E) }

.orange_row_two_4{ @include block(#FFA74E) }

.orange_row_two_5{ @include block(#FF8D00) }

.orange_row_two_0{ @include block(#FF7400) }

.orange_row_two_1{ @include block(#FF5A00) }

.orange_row_two_2{ @include block(#FD4000) }

.orange_row_two_3{ @include block(#FF8100) }

.orange_row_two_4{ @include block(#FFA700) }

.orange_row_two_5{ @include block(#FF3300) }

.orange_row_three_0{ @include block(#FF4D00) }

.orange_row_three_1{ @include block(#FF8100) }

.orange_row_three_2{ @include block(#FBDD95) }

.orange_row_three_3{ @include block(#EAB667) }

.orange_row_three_4{ @include block(#E59644) }

.orange_row_three_5{ @include block(#E17F3D) }

.orange_row_four_0{ @include block(#D65D29) }

.orange_row_four_1{ @include block(#EC7E10) }

.orange_row_four_2{ @include block(#F49606) }

.orange_row_four_3{ @include block(#F6AC50) }

.orange_row_four_4{ @include block(#F0BD70) }

.orange_row_four_5{ @include block(#F0D094) }

.orange_row_five_0{ @include block(#EA5336) }

.orange_row_five_1{ @include block(#F06D39) }

.orange_row_five_2{ @include block(#E9630A) }

.orange_row_five_3{ @include block(#ED8530) }

.orange_row_five_4{ @include block(#FAB45E) }

.orange_row_five_5{ @include block(#FF955B) }

.orange_row_six_0{ @include block(#FF9A46) }

.orange_row_six_1{ @include block(#FFD7B5) }

.orange_row_six_2{ @include block(#CC2101) }

.orange_row_six_3{ @include block(#FF4D03) }

.orange_row_six_4{ @include block(#FC6D26) }

.orange_row_six_5{ @include block(#FF5A00) }

.orange_row_seven_0{ @include block(#FC6D26) }

.orange_row_seven_1{ @include block(#FF7F00) }

.orange_row_seven_2{ @include block(#FFBA41) }

.orange_row_seven_3{ @include block(#FC742A) }

.orange_row_seven_4{ @include block(#FB2D15) }

.orange_row_seven_5{ @include block(#FB441A) }

.orange_row_eight_0{ @include block(#FE6925) }

.orange_row_eight_1{ @include block(#FE6627) }

.orange_row_eight_2{ @include block(#FD6D27) }

.orange_row_eight_3{ @include block(#FF4D00) }

.orange_row_eight_4{ @include block(#FA9D12) }

.orange_row_eight_5{ @include block(#FB6904) }

.orange_row_nine_0{ @include block(#F56102) }

.orange_row_nine_1{ @include block(#E77917) }

.orange_row_nine_2{ @include block(#F9C241) }

.orange_row_nine_3{ @include block(#FDAF17) }

.orange_row_nine_4{ @include block(#FB9C1C) }

.orange_row_nine_5{ @include block(#FE671E) }
