.blue_row_one_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #FFFFFF; }
  .blue_row_one_0 .st0 {
    fill: #FFFFFF; }
  .blue_row_one_0 .st1 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10; }
  .blue_row_one_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_0 {
      transform: scale(0.8); } }

.blue_row_one_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fdfbfb; }
  .blue_row_one_1 .st0 {
    fill: #fdfbfb; }
  .blue_row_one_1 .st1 {
    fill: none;
    stroke: #fdfbfb;
    stroke-miterlimit: 10; }
  .blue_row_one_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_1 {
      transform: scale(0.8); } }

.blue_row_one_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fbfdfb; }
  .blue_row_one_2 .st0 {
    fill: #fbfdfb; }
  .blue_row_one_2 .st1 {
    fill: none;
    stroke: #fbfdfb;
    stroke-miterlimit: 10; }
  .blue_row_one_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_2 {
      transform: scale(0.8); } }

.blue_row_one_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fdfdff; }
  .blue_row_one_3 .st0 {
    fill: #fdfdff; }
  .blue_row_one_3 .st1 {
    fill: none;
    stroke: #fdfdff;
    stroke-miterlimit: 10; }
  .blue_row_one_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_3 {
      transform: scale(0.8); } }

.blue_row_one_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fdf9f9; }
  .blue_row_one_4 .st0 {
    fill: #fdf9f9; }
  .blue_row_one_4 .st1 {
    fill: none;
    stroke: #fdf9f9;
    stroke-miterlimit: 10; }
  .blue_row_one_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_4 {
      transform: scale(0.8); } }

.blue_row_one_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fdfbfb; }
  .blue_row_one_5 .st0 {
    fill: #fdfbfb; }
  .blue_row_one_5 .st1 {
    fill: none;
    stroke: #fdfbfb;
    stroke-miterlimit: 10; }
  .blue_row_one_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_one_5 {
      transform: scale(0.8); } }

.blue_row_two_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fcfcfc; }
  .blue_row_two_0 .st0 {
    fill: #fcfcfc; }
  .blue_row_two_0 .st1 {
    fill: none;
    stroke: #fcfcfc;
    stroke-miterlimit: 10; }
  .blue_row_two_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_0 {
      transform: scale(0.8); } }

.blue_row_two_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #f7f7f7; }
  .blue_row_two_1 .st0 {
    fill: #f7f7f7; }
  .blue_row_two_1 .st1 {
    fill: none;
    stroke: #f7f7f7;
    stroke-miterlimit: 10; }
  .blue_row_two_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_1 {
      transform: scale(0.8); } }

.blue_row_two_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #f3f3f3; }
  .blue_row_two_2 .st0 {
    fill: #f3f3f3; }
  .blue_row_two_2 .st1 {
    fill: none;
    stroke: #f3f3f3;
    stroke-miterlimit: 10; }
  .blue_row_two_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_2 {
      transform: scale(0.8); } }

.blue_row_two_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #eeeeee; }
  .blue_row_two_3 .st0 {
    fill: #eeeeee; }
  .blue_row_two_3 .st1 {
    fill: none;
    stroke: #eeeeee;
    stroke-miterlimit: 10; }
  .blue_row_two_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_3 {
      transform: scale(0.8); } }

.blue_row_two_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #eaeaea; }
  .blue_row_two_4 .st0 {
    fill: #eaeaea; }
  .blue_row_two_4 .st1 {
    fill: none;
    stroke: #eaeaea;
    stroke-miterlimit: 10; }
  .blue_row_two_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_4 {
      transform: scale(0.8); } }

.blue_row_two_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F5F5F5; }
  .blue_row_two_5 .st0 {
    fill: #F5F5F5; }
  .blue_row_two_5 .st1 {
    fill: none;
    stroke: #F5F5F5;
    stroke-miterlimit: 10; }
  .blue_row_two_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_two_5 {
      transform: scale(0.8); } }

.blue_row_three_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fffafa; }
  .blue_row_three_0 .st0 {
    fill: #fffafa; }
  .blue_row_three_0 .st1 {
    fill: none;
    stroke: #fffafa;
    stroke-miterlimit: 10; }
  .blue_row_three_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_0 {
      transform: scale(0.8); } }

.blue_row_three_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #f0f0f0; }
  .blue_row_three_1 .st0 {
    fill: #f0f0f0; }
  .blue_row_three_1 .st1 {
    fill: none;
    stroke: #f0f0f0;
    stroke-miterlimit: 10; }
  .blue_row_three_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_1 {
      transform: scale(0.8); } }

.blue_row_three_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #e3e3e3; }
  .blue_row_three_2 .st0 {
    fill: #e3e3e3; }
  .blue_row_three_2 .st1 {
    fill: none;
    stroke: #e3e3e3;
    stroke-miterlimit: 10; }
  .blue_row_three_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_2 {
      transform: scale(0.8); } }

.blue_row_three_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #cecece; }
  .blue_row_three_3 .st0 {
    fill: #cecece; }
  .blue_row_three_3 .st1 {
    fill: none;
    stroke: #cecece;
    stroke-miterlimit: 10; }
  .blue_row_three_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_3 {
      transform: scale(0.8); } }

.blue_row_three_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #bdbcbc; }
  .blue_row_three_4 .st0 {
    fill: #bdbcbc; }
  .blue_row_three_4 .st1 {
    fill: none;
    stroke: #bdbcbc;
    stroke-miterlimit: 10; }
  .blue_row_three_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_4 {
      transform: scale(0.8); } }

.blue_row_three_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ebebeb; }
  .blue_row_three_5 .st0 {
    fill: #ebebeb; }
  .blue_row_three_5 .st1 {
    fill: none;
    stroke: #ebebeb;
    stroke-miterlimit: 10; }
  .blue_row_three_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_three_5 {
      transform: scale(0.8); } }

.blue_row_four_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #efefef; }
  .blue_row_four_0 .st0 {
    fill: #efefef; }
  .blue_row_four_0 .st1 {
    fill: none;
    stroke: #efefef;
    stroke-miterlimit: 10; }
  .blue_row_four_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_0 {
      transform: scale(0.8); } }

.blue_row_four_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #f7f8f8; }
  .blue_row_four_1 .st0 {
    fill: #f7f8f8; }
  .blue_row_four_1 .st1 {
    fill: none;
    stroke: #f7f8f8;
    stroke-miterlimit: 10; }
  .blue_row_four_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_1 {
      transform: scale(0.8); } }

.blue_row_four_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fafafa; }
  .blue_row_four_2 .st0 {
    fill: #fafafa; }
  .blue_row_four_2 .st1 {
    fill: none;
    stroke: #fafafa;
    stroke-miterlimit: 10; }
  .blue_row_four_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_2 {
      transform: scale(0.8); } }

.blue_row_four_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fffff9; }
  .blue_row_four_3 .st0 {
    fill: #fffff9; }
  .blue_row_four_3 .st1 {
    fill: none;
    stroke: #fffff9;
    stroke-miterlimit: 10; }
  .blue_row_four_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_3 {
      transform: scale(0.8); } }

.blue_row_four_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fdfffc; }
  .blue_row_four_4 .st0 {
    fill: #fdfffc; }
  .blue_row_four_4 .st1 {
    fill: none;
    stroke: #fdfffc;
    stroke-miterlimit: 10; }
  .blue_row_four_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_4 {
      transform: scale(0.8); } }

.blue_row_four_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fcfcff; }
  .blue_row_four_5 .st0 {
    fill: #fcfcff; }
  .blue_row_four_5 .st1 {
    fill: none;
    stroke: #fcfcff;
    stroke-miterlimit: 10; }
  .blue_row_four_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_four_5 {
      transform: scale(0.8); } }

.blue_row_five_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #fef9ff; }
  .blue_row_five_0 .st0 {
    fill: #fef9ff; }
  .blue_row_five_0 .st1 {
    fill: none;
    stroke: #fef9ff;
    stroke-miterlimit: 10; }
  .blue_row_five_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_0 {
      transform: scale(0.8); } }

.blue_row_five_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F8F8FF; }
  .blue_row_five_1 .st0 {
    fill: #F8F8FF; }
  .blue_row_five_1 .st1 {
    fill: none;
    stroke: #F8F8FF;
    stroke-miterlimit: 10; }
  .blue_row_five_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_1 {
      transform: scale(0.8); } }

.blue_row_five_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #FEFEFA; }
  .blue_row_five_2 .st0 {
    fill: #FEFEFA; }
  .blue_row_five_2 .st1 {
    fill: none;
    stroke: #FEFEFA;
    stroke-miterlimit: 10; }
  .blue_row_five_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_2 {
      transform: scale(0.8); } }

.blue_row_five_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #FFFAFA; }
  .blue_row_five_3 .st0 {
    fill: #FFFAFA; }
  .blue_row_five_3 .st1 {
    fill: none;
    stroke: #FFFAFA;
    stroke-miterlimit: 10; }
  .blue_row_five_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_3 {
      transform: scale(0.8); } }

.blue_row_five_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F8F8FF; }
  .blue_row_five_4 .st0 {
    fill: #F8F8FF; }
  .blue_row_five_4 .st1 {
    fill: none;
    stroke: #F8F8FF;
    stroke-miterlimit: 10; }
  .blue_row_five_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_4 {
      transform: scale(0.8); } }

.blue_row_five_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F7F6F0; }
  .blue_row_five_5 .st0 {
    fill: #F7F6F0; }
  .blue_row_five_5 .st1 {
    fill: none;
    stroke: #F7F6F0;
    stroke-miterlimit: 10; }
  .blue_row_five_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_five_5 {
      transform: scale(0.8); } }

.blue_row_six_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F2F2F2; }
  .blue_row_six_0 .st0 {
    fill: #F2F2F2; }
  .blue_row_six_0 .st1 {
    fill: none;
    stroke: #F2F2F2;
    stroke-miterlimit: 10; }
  .blue_row_six_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_0 {
      transform: scale(0.8); } }

.blue_row_six_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F7F8F4; }
  .blue_row_six_1 .st0 {
    fill: #F7F8F4; }
  .blue_row_six_1 .st1 {
    fill: none;
    stroke: #F7F8F4;
    stroke-miterlimit: 10; }
  .blue_row_six_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_1 {
      transform: scale(0.8); } }

.blue_row_six_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EDEFEE; }
  .blue_row_six_2 .st0 {
    fill: #EDEFEE; }
  .blue_row_six_2 .st1 {
    fill: none;
    stroke: #EDEFEE;
    stroke-miterlimit: 10; }
  .blue_row_six_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_2 {
      transform: scale(0.8); } }

.blue_row_six_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #D7DAD8; }
  .blue_row_six_3 .st0 {
    fill: #D7DAD8; }
  .blue_row_six_3 .st1 {
    fill: none;
    stroke: #D7DAD8;
    stroke-miterlimit: 10; }
  .blue_row_six_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_3 {
      transform: scale(0.8); } }

.blue_row_six_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #CBCECC; }
  .blue_row_six_4 .st0 {
    fill: #CBCECC; }
  .blue_row_six_4 .st1 {
    fill: none;
    stroke: #CBCECC;
    stroke-miterlimit: 10; }
  .blue_row_six_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_4 {
      transform: scale(0.8); } }

.blue_row_six_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EDEDE5; }
  .blue_row_six_5 .st0 {
    fill: #EDEDE5; }
  .blue_row_six_5 .st1 {
    fill: none;
    stroke: #EDEDE5;
    stroke-miterlimit: 10; }
  .blue_row_six_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_six_5 {
      transform: scale(0.8); } }

.blue_row_seven_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F2F0E6; }
  .blue_row_seven_0 .st0 {
    fill: #F2F0E6; }
  .blue_row_seven_0 .st1 {
    fill: none;
    stroke: #F2F0E6;
    stroke-miterlimit: 10; }
  .blue_row_seven_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_0 {
      transform: scale(0.8); } }

.blue_row_seven_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EEECE5; }
  .blue_row_seven_1 .st0 {
    fill: #EEECE5; }
  .blue_row_seven_1 .st1 {
    fill: none;
    stroke: #EEECE5;
    stroke-miterlimit: 10; }
  .blue_row_seven_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_1 {
      transform: scale(0.8); } }

.blue_row_seven_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EEEAE0; }
  .blue_row_seven_2 .st0 {
    fill: #EEEAE0; }
  .blue_row_seven_2 .st1 {
    fill: none;
    stroke: #EEEAE0;
    stroke-miterlimit: 10; }
  .blue_row_seven_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_2 {
      transform: scale(0.8); } }

.blue_row_seven_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EBE9E0; }
  .blue_row_seven_3 .st0 {
    fill: #EBE9E0; }
  .blue_row_seven_3 .st1 {
    fill: none;
    stroke: #EBE9E0;
    stroke-miterlimit: 10; }
  .blue_row_seven_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_3 {
      transform: scale(0.8); } }

.blue_row_seven_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ECE5D6; }
  .blue_row_seven_4 .st0 {
    fill: #ECE5D6; }
  .blue_row_seven_4 .st1 {
    fill: none;
    stroke: #ECE5D6;
    stroke-miterlimit: 10; }
  .blue_row_seven_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_4 {
      transform: scale(0.8); } }

.blue_row_seven_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EFEAE0; }
  .blue_row_seven_5 .st0 {
    fill: #EFEAE0; }
  .blue_row_seven_5 .st1 {
    fill: none;
    stroke: #EFEAE0;
    stroke-miterlimit: 10; }
  .blue_row_seven_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_seven_5 {
      transform: scale(0.8); } }

.blue_row_eight_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #E4DFD4; }
  .blue_row_eight_0 .st0 {
    fill: #E4DFD4; }
  .blue_row_eight_0 .st1 {
    fill: none;
    stroke: #E4DFD4;
    stroke-miterlimit: 10; }
  .blue_row_eight_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_0 {
      transform: scale(0.8); } }

.blue_row_eight_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #E4E0DA; }
  .blue_row_eight_1 .st0 {
    fill: #E4E0DA; }
  .blue_row_eight_1 .st1 {
    fill: none;
    stroke: #E4E0DA;
    stroke-miterlimit: 10; }
  .blue_row_eight_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_1 {
      transform: scale(0.8); } }

.blue_row_eight_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ECE5D7; }
  .blue_row_eight_2 .st0 {
    fill: #ECE5D7; }
  .blue_row_eight_2 .st1 {
    fill: none;
    stroke: #ECE5D7;
    stroke-miterlimit: 10; }
  .blue_row_eight_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_2 {
      transform: scale(0.8); } }

.blue_row_eight_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ECE5D6; }
  .blue_row_eight_3 .st0 {
    fill: #ECE5D6; }
  .blue_row_eight_3 .st1 {
    fill: none;
    stroke: #ECE5D6;
    stroke-miterlimit: 10; }
  .blue_row_eight_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_3 {
      transform: scale(0.8); } }

.blue_row_eight_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #D0C8C1; }
  .blue_row_eight_4 .st0 {
    fill: #D0C8C1; }
  .blue_row_eight_4 .st1 {
    fill: none;
    stroke: #D0C8C1;
    stroke-miterlimit: 10; }
  .blue_row_eight_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_4 {
      transform: scale(0.8); } }

.blue_row_eight_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #DBD5CE; }
  .blue_row_eight_5 .st0 {
    fill: #DBD5CE; }
  .blue_row_eight_5 .st1 {
    fill: none;
    stroke: #DBD5CE;
    stroke-miterlimit: 10; }
  .blue_row_eight_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_eight_5 {
      transform: scale(0.8); } }

.blue_row_nine_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ECE8D3; }
  .blue_row_nine_0 .st0 {
    fill: #ECE8D3; }
  .blue_row_nine_0 .st1 {
    fill: none;
    stroke: #ECE8D3;
    stroke-miterlimit: 10; }
  .blue_row_nine_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_0 {
      transform: scale(0.8); } }

.blue_row_nine_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #CFCABB; }
  .blue_row_nine_1 .st0 {
    fill: #CFCABB; }
  .blue_row_nine_1 .st1 {
    fill: none;
    stroke: #CFCABB;
    stroke-miterlimit: 10; }
  .blue_row_nine_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_1 {
      transform: scale(0.8); } }

.blue_row_nine_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #D0C8C1; }
  .blue_row_nine_2 .st0 {
    fill: #D0C8C1; }
  .blue_row_nine_2 .st1 {
    fill: none;
    stroke: #D0C8C1;
    stroke-miterlimit: 10; }
  .blue_row_nine_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_2 {
      transform: scale(0.8); } }

.blue_row_nine_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F1F2F1; }
  .blue_row_nine_3 .st0 {
    fill: #F1F2F1; }
  .blue_row_nine_3 .st1 {
    fill: none;
    stroke: #F1F2F1;
    stroke-miterlimit: 10; }
  .blue_row_nine_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_3 {
      transform: scale(0.8); } }

.blue_row_nine_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #DDD5B7; }
  .blue_row_nine_4 .st0 {
    fill: #DDD5B7; }
  .blue_row_nine_4 .st1 {
    fill: none;
    stroke: #DDD5B7;
    stroke-miterlimit: 10; }
  .blue_row_nine_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_4 {
      transform: scale(0.8); } }

.blue_row_nine_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #CFCABB; }
  .blue_row_nine_5 .st0 {
    fill: #CFCABB; }
  .blue_row_nine_5 .st1 {
    fill: none;
    stroke: #CFCABB;
    stroke-miterlimit: 10; }
  .blue_row_nine_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_nine_5 {
      transform: scale(0.8); } }

.blue_row_ten_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #EAE3DA; }
  .blue_row_ten_0 .st0 {
    fill: #EAE3DA; }
  .blue_row_ten_0 .st1 {
    fill: none;
    stroke: #EAE3DA;
    stroke-miterlimit: 10; }
  .blue_row_ten_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_0 {
      transform: scale(0.8); } }

.blue_row_ten_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #D7CEC1; }
  .blue_row_ten_1 .st0 {
    fill: #D7CEC1; }
  .blue_row_ten_1 .st1 {
    fill: none;
    stroke: #D7CEC1;
    stroke-miterlimit: 10; }
  .blue_row_ten_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_1 {
      transform: scale(0.8); } }

.blue_row_ten_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #ECE5D7; }
  .blue_row_ten_2 .st0 {
    fill: #ECE5D7; }
  .blue_row_ten_2 .st1 {
    fill: none;
    stroke: #ECE5D7;
    stroke-miterlimit: 10; }
  .blue_row_ten_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_2 {
      transform: scale(0.8); } }

.blue_row_ten_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #DBD5CE; }
  .blue_row_ten_3 .st0 {
    fill: #DBD5CE; }
  .blue_row_ten_3 .st1 {
    fill: none;
    stroke: #DBD5CE;
    stroke-miterlimit: 10; }
  .blue_row_ten_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_3 {
      transform: scale(0.8); } }

.blue_row_ten_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #E5DFC6; }
  .blue_row_ten_4 .st0 {
    fill: #E5DFC6; }
  .blue_row_ten_4 .st1 {
    fill: none;
    stroke: #E5DFC6;
    stroke-miterlimit: 10; }
  .blue_row_ten_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_4 {
      transform: scale(0.8); } }

.blue_row_ten_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: #F3EBD8; }
  .blue_row_ten_5 .st0 {
    fill: #F3EBD8; }
  .blue_row_ten_5 .st1 {
    fill: none;
    stroke: #F3EBD8;
    stroke-miterlimit: 10; }
  .blue_row_ten_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .blue_row_ten_5 {
      transform: scale(0.8); } }

.greys_row_one_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_0 .st0 {
    fill: colorHere; }
  .greys_row_one_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_0 {
      transform: scale(0.8); } }

.greys_row_one_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_1 .st0 {
    fill: colorHere; }
  .greys_row_one_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_1 {
      transform: scale(0.8); } }

.greys_row_one_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_2 .st0 {
    fill: colorHere; }
  .greys_row_one_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_2 {
      transform: scale(0.8); } }

.greys_row_one_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_3 .st0 {
    fill: colorHere; }
  .greys_row_one_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_3 {
      transform: scale(0.8); } }

.greys_row_one_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_4 .st0 {
    fill: colorHere; }
  .greys_row_one_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_4 {
      transform: scale(0.8); } }

.greys_row_one_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_one_5 .st0 {
    fill: colorHere; }
  .greys_row_one_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_one_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_one_5 {
      transform: scale(0.8); } }

.greys_row_two_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_0 .st0 {
    fill: colorHere; }
  .greys_row_two_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_0 {
      transform: scale(0.8); } }

.greys_row_two_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_1 .st0 {
    fill: colorHere; }
  .greys_row_two_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_1 {
      transform: scale(0.8); } }

.greys_row_two_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_2 .st0 {
    fill: colorHere; }
  .greys_row_two_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_2 {
      transform: scale(0.8); } }

.greys_row_two_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_3 .st0 {
    fill: colorHere; }
  .greys_row_two_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_3 {
      transform: scale(0.8); } }

.greys_row_two_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_4 .st0 {
    fill: colorHere; }
  .greys_row_two_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_4 {
      transform: scale(0.8); } }

.greys_row_two_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_two_5 .st0 {
    fill: colorHere; }
  .greys_row_two_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_two_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_two_5 {
      transform: scale(0.8); } }

.greys_row_three_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_0 .st0 {
    fill: colorHere; }
  .greys_row_three_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_0 {
      transform: scale(0.8); } }

.greys_row_three_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_1 .st0 {
    fill: colorHere; }
  .greys_row_three_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_1 {
      transform: scale(0.8); } }

.greys_row_three_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_2 .st0 {
    fill: colorHere; }
  .greys_row_three_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_2 {
      transform: scale(0.8); } }

.greys_row_three_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_3 .st0 {
    fill: colorHere; }
  .greys_row_three_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_3 {
      transform: scale(0.8); } }

.greys_row_three_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_4 .st0 {
    fill: colorHere; }
  .greys_row_three_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_4 {
      transform: scale(0.8); } }

.greys_row_three_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_three_5 .st0 {
    fill: colorHere; }
  .greys_row_three_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_three_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_three_5 {
      transform: scale(0.8); } }

.greys_row_four_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_0 .st0 {
    fill: colorHere; }
  .greys_row_four_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_0 {
      transform: scale(0.8); } }

.greys_row_four_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_1 .st0 {
    fill: colorHere; }
  .greys_row_four_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_1 {
      transform: scale(0.8); } }

.greys_row_four_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_2 .st0 {
    fill: colorHere; }
  .greys_row_four_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_2 {
      transform: scale(0.8); } }

.greys_row_four_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_3 .st0 {
    fill: colorHere; }
  .greys_row_four_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_3 {
      transform: scale(0.8); } }

.greys_row_four_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_4 .st0 {
    fill: colorHere; }
  .greys_row_four_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_4 {
      transform: scale(0.8); } }

.greys_row_four_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_four_5 .st0 {
    fill: colorHere; }
  .greys_row_four_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_four_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_four_5 {
      transform: scale(0.8); } }

.greys_row_five_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_0 .st0 {
    fill: colorHere; }
  .greys_row_five_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_0 {
      transform: scale(0.8); } }

.greys_row_five_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_1 .st0 {
    fill: colorHere; }
  .greys_row_five_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_1 {
      transform: scale(0.8); } }

.greys_row_five_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_2 .st0 {
    fill: colorHere; }
  .greys_row_five_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_2 {
      transform: scale(0.8); } }

.greys_row_five_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_3 .st0 {
    fill: colorHere; }
  .greys_row_five_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_3 {
      transform: scale(0.8); } }

.greys_row_five_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_4 .st0 {
    fill: colorHere; }
  .greys_row_five_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_4 {
      transform: scale(0.8); } }

.greys_row_five_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_five_5 .st0 {
    fill: colorHere; }
  .greys_row_five_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_five_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_five_5 {
      transform: scale(0.8); } }

.greys_row_six_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_0 .st0 {
    fill: colorHere; }
  .greys_row_six_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_0 {
      transform: scale(0.8); } }

.greys_row_six_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_1 .st0 {
    fill: colorHere; }
  .greys_row_six_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_1 {
      transform: scale(0.8); } }

.greys_row_six_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_2 .st0 {
    fill: colorHere; }
  .greys_row_six_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_2 {
      transform: scale(0.8); } }

.greys_row_six_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_3 .st0 {
    fill: colorHere; }
  .greys_row_six_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_3 {
      transform: scale(0.8); } }

.greys_row_six_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_4 .st0 {
    fill: colorHere; }
  .greys_row_six_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_4 {
      transform: scale(0.8); } }

.greys_row_six_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_six_5 .st0 {
    fill: colorHere; }
  .greys_row_six_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_six_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_six_5 {
      transform: scale(0.8); } }

.greys_row_seven_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_0 .st0 {
    fill: colorHere; }
  .greys_row_seven_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_0 {
      transform: scale(0.8); } }

.greys_row_seven_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_1 .st0 {
    fill: colorHere; }
  .greys_row_seven_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_1 {
      transform: scale(0.8); } }

.greys_row_seven_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_2 .st0 {
    fill: colorHere; }
  .greys_row_seven_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_2 {
      transform: scale(0.8); } }

.greys_row_seven_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_3 .st0 {
    fill: colorHere; }
  .greys_row_seven_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_3 {
      transform: scale(0.8); } }

.greys_row_seven_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_4 .st0 {
    fill: colorHere; }
  .greys_row_seven_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_4 {
      transform: scale(0.8); } }

.greys_row_seven_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_seven_5 .st0 {
    fill: colorHere; }
  .greys_row_seven_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_seven_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_seven_5 {
      transform: scale(0.8); } }

.greys_row_eight_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_0 .st0 {
    fill: colorHere; }
  .greys_row_eight_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_0 {
      transform: scale(0.8); } }

.greys_row_eight_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_1 .st0 {
    fill: colorHere; }
  .greys_row_eight_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_1 {
      transform: scale(0.8); } }

.greys_row_eight_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_2 .st0 {
    fill: colorHere; }
  .greys_row_eight_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_2 {
      transform: scale(0.8); } }

.greys_row_eight_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_3 .st0 {
    fill: colorHere; }
  .greys_row_eight_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_3 {
      transform: scale(0.8); } }

.greys_row_eight_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_4 .st0 {
    fill: colorHere; }
  .greys_row_eight_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_4 {
      transform: scale(0.8); } }

.greys_row_eight_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_eight_5 .st0 {
    fill: colorHere; }
  .greys_row_eight_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_eight_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_eight_5 {
      transform: scale(0.8); } }

.greys_row_nine_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_0 .st0 {
    fill: colorHere; }
  .greys_row_nine_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_0 {
      transform: scale(0.8); } }

.greys_row_nine_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_1 .st0 {
    fill: colorHere; }
  .greys_row_nine_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_1 {
      transform: scale(0.8); } }

.greys_row_nine_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_2 .st0 {
    fill: colorHere; }
  .greys_row_nine_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_2 {
      transform: scale(0.8); } }

.greys_row_nine_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_3 .st0 {
    fill: colorHere; }
  .greys_row_nine_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_3 {
      transform: scale(0.8); } }

.greys_row_nine_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_4 .st0 {
    fill: colorHere; }
  .greys_row_nine_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_4 {
      transform: scale(0.8); } }

.greys_row_nine_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_nine_5 .st0 {
    fill: colorHere; }
  .greys_row_nine_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_nine_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_nine_5 {
      transform: scale(0.8); } }

.greys_row_ten_0 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_0 .st0 {
    fill: colorHere; }
  .greys_row_ten_0 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_0:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_0 {
      transform: scale(0.8); } }

.greys_row_ten_1 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_1 .st0 {
    fill: colorHere; }
  .greys_row_ten_1 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_1:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_1 {
      transform: scale(0.8); } }

.greys_row_ten_2 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_2 .st0 {
    fill: colorHere; }
  .greys_row_ten_2 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_2:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_2 {
      transform: scale(0.8); } }

.greys_row_ten_3 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_3 .st0 {
    fill: colorHere; }
  .greys_row_ten_3 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_3:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_3 {
      transform: scale(0.8); } }

.greys_row_ten_4 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_4 .st0 {
    fill: colorHere; }
  .greys_row_ten_4 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_4:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_4 {
      transform: scale(0.8); } }

.greys_row_ten_5 {
  height: auto;
  width: auto;
  transition: transform 0.2s;
  fill: colorHere; }
  .greys_row_ten_5 .st0 {
    fill: colorHere; }
  .greys_row_ten_5 .st1 {
    fill: none;
    stroke: colorHere;
    stroke-miterlimit: 10; }
  .greys_row_ten_5:hover {
    transform: scale(1.1); }
  @media (max-width: 770px) {
    .greys_row_ten_5 {
      transform: scale(0.8); } }

/*# sourceMappingURL=color-codes-main.css.map */
