@mixin skeleton( $color){
	height: auto;
	transform: scale(1.4);
	width: auto;
	transition: transform 0.5s;
	.st0{fill:$color;}
 	.st1{fill:none;stroke:$color;stroke-miterlimit:10;}
	&:hover{
		transform: scale(1.6);
	}
	@media (max-width: 750px) {
		transform: scale(1);
	}
}

// row 1
.color_skeleton_0{
	@include skeleton(#fff6cf)
}
.color_skeleton_1{
	@include skeleton(#fff2ba)
}
.color_skeleton_2{
	@include skeleton(#ffe988)
}
.color_skeleton_3{
	@include skeleton(#ffe15c)
}
.color_skeleton_4{
	@include skeleton(#ffda38)
}
.color_skeleton_5{
	@include skeleton(#ffd416)
}

// row 2
.color_skeleton__0{
	@include skeleton(#fffbc4)
}
.color_skeleton__1{
	@include skeleton(#fff89e)
}
.color_skeleton__2{
	@include skeleton(#fff467)
}
.color_skeleton__3{
	@include skeleton(#fff036)
}
.color_skeleton__4{
	@include skeleton(#ffee17)
}
.color_skeleton__5{
	@include skeleton(#ffec00)
}

// row 3
.color_skeleton___0{
	@include skeleton(#fffec3)
}
.color_skeleton___1{
	@include skeleton(#fffd89)
}
.color_skeleton___2{
	@include skeleton(#fffc67)
}
.color_skeleton___3{
	@include skeleton(#fffb3a)
}
.color_skeleton___4{
	@include skeleton(#fefa1d)
}
.color_skeleton___5{
	@include skeleton(#fffa00)
}

// row 4
.color_skeleton____0{
	@include skeleton(#fcffbc)
}
.color_skeleton____1{
	@include skeleton(#faff8d)
}
.color_skeleton____2{
	@include skeleton(#f8ff62)
}
.color_skeleton____3{
	@include skeleton(#f7ff41)
}
.color_skeleton____4{
	@include skeleton(#f5ff19)
}
.color_skeleton____5{
	@include skeleton(#f4ff00)
}

// row 5
.color_skeleton_____0{
	@include skeleton(#ffd100)
}
.color_skeleton_____1{
	@include skeleton(#ffe800)
}
.color_skeleton_____2{
	@include skeleton(#fff000)
}
.color_skeleton_____3{
	@include skeleton(#fbff00)
}
.color_skeleton_____4{
	@include skeleton(#f3ff00)
}
.color_skeleton_____5{
	@include skeleton(#e3ee00)
}

// row 6
.color_skeleton______0{
	@include skeleton(#fff2c5)
}
.color_skeleton______1{
	@include skeleton(#fcf3cf)
}
.color_skeleton______2{
	@include skeleton(#f9e79f)
}
.color_skeleton______3{
	@include skeleton(#f7dc6f)
}
.color_skeleton______4{
	@include skeleton(#f4d03f)
}
.color_skeleton______5{
	@include skeleton(#f1c40f)
}









// CHART NOW BECOMES GREEN










 // row 1

.color_skeleton_g_0{
	@include skeleton(#E6FFBF)
}

.color_skeleton_g_1{
	@include skeleton(#BEEE9E)
}

.color_skeleton_g_2{
	@include skeleton(#5AB953)
}

.color_skeleton_g_3{
	@include skeleton(#49A34B)
}

.color_skeleton_g_4{
	@include skeleton(#71D161)
}

.color_skeleton_g_5{
	@include skeleton(#58dc42)
}

// row 2

.color_skeleton_g__0{
	@include skeleton(#8BB45F)
}

.color_skeleton_g__1{
	@include skeleton(#9FCE6E)
}

.color_skeleton_g__2{
	@include skeleton(#B0E27A)
}

.color_skeleton_g__3{
	@include skeleton(#C0F785)
}

.color_skeleton_g__4{
	@include skeleton(#73964E)
}

.color_skeleton_g__5{
	@include skeleton(#a8ea62)
}

// row 3

.color_skeleton_g___0{
	@include skeleton(#c1ffc3)
}

.color_skeleton_g___1{
	@include skeleton(#abffae)
}

.color_skeleton_g___2{
	@include skeleton(#8eff92)
}

.color_skeleton_g___3{
	@include skeleton(#78ff7d)
}

.color_skeleton_g___4{
	@include skeleton(#59ff5f)
}

.color_skeleton_g___5{
	@include skeleton(#37ff3e)
}

// row 4

.color_skeleton_g____0{
	@include skeleton(#76c775)
}

.color_skeleton_g____1{
	@include skeleton(#66c565)
}

.color_skeleton_g____2{
	@include skeleton(#56b855)
}

.color_skeleton_g____3{
	@include skeleton(#3ca93b)
}

.color_skeleton_g____4{
	@include skeleton(#20a71e)
}

.color_skeleton_g____5{
	@include skeleton(#069404)
}

// row 5

.color_skeleton_g_____0{
	@include skeleton(#b8e19e)
}

.color_skeleton_g_____1{
	@include skeleton(#7cb359)
}

.color_skeleton_g_____2{
	@include skeleton(#69a443)
}

.color_skeleton_g_____3{
	@include skeleton(#58a625)
}

.color_skeleton_g_____4{
	@include skeleton(#54af19)
}

.color_skeleton_g_____5{
	@include skeleton(#44a207)
}

// row 6

.color_skeleton_g______0{
	@include skeleton(#aaff00)
}

.color_skeleton_g______1{
	@include skeleton(#7cff00)
}

.color_skeleton_g______2{
	@include skeleton(#a6ff00)
}

.color_skeleton_g______3{
	@include skeleton(#00ff0c)
}

.color_skeleton_g______4{
	@include skeleton(#52ff6f)
}

.color_skeleton_g______5{
	@include skeleton(#52ff7c)
}






// CHANGE TO TURQUIOSE





// row 1
.color_skeleton_t_0{
	@include skeleton(#B3ECEC)
}

.color_skeleton_t_1{
	@include skeleton(#89ECDA)
}

.color_skeleton_t_2{
	@include skeleton(#43E8D8)
}

.color_skeleton_t_3{
	@include skeleton(#40E0D0)
}

.color_skeleton_t_4{
	@include skeleton(#3BD6C6)
}

.color_skeleton_t_5{
	@include skeleton(#329EA2)
}

// row 2
.color_skeleton_t__0{
	@include skeleton(#7FE6E8)
}

.color_skeleton_t__1{
	@include skeleton(#99EBEC)
}

.color_skeleton_t__2{
	@include skeleton(#B2F0F1)
}

.color_skeleton_t__3{
	@include skeleton(#CCF5F5)
}

.color_skeleton_t__4{
	@include skeleton(#E5FAFA)
}

.color_skeleton_t__5{
	@include skeleton(#21B6A8)
}

// row 3
.color_skeleton_t___0{
	@include skeleton(#4FB09F)
}

.color_skeleton_t___1{
	@include skeleton(#5DCCA7)
}

.color_skeleton_t___2{
	@include skeleton(#83F6BF)
}

.color_skeleton_t___3{
	@include skeleton(#55A89F)
}

.color_skeleton_t___4{
	@include skeleton(#036564)
}

.color_skeleton_t___5{
	@include skeleton(#74C5B8)
}

// row 4
.color_skeleton_t____0{
	@include skeleton(#A7E0D6)
}

.color_skeleton_t____1{
	@include skeleton(#7BD2C5)
}

.color_skeleton_t____2{
	@include skeleton(#41BBA9)
}

.color_skeleton_t____3{
	@include skeleton(#009F90)
}

.color_skeleton_t____4{
	@include skeleton(#009385)
}

.color_skeleton_t____5{
	@include skeleton(#B7E6D8)
}

// row 5
.color_skeleton_t_____0{
	@include skeleton(#9DDFCD)
}

.color_skeleton_t_____1{
	@include skeleton(#71D1B9)
}

.color_skeleton_t_____2{
	@include skeleton(#2DB79A)
}

.color_skeleton_t_____3{
	@include skeleton(#00A084)
}

.color_skeleton_t_____4{
	@include skeleton(#98D8BD)
}

.color_skeleton_t_____5{
	@include skeleton(#2DAD88)
}

// row 6
.color_skeleton_t______0{
	@include skeleton(#169D77)
}

.color_skeleton_t______1{
	@include skeleton(#008465)
}

.color_skeleton_t______2{
	@include skeleton(#2A9196)
}

.color_skeleton_t______3{
	@include skeleton(#5AB9A3)
}

.color_skeleton_t______4{
	@include skeleton(#02ABB0)
}

.color_skeleton_t______5{
	@include skeleton(#4AA176)
}




// AQUAS START HERE




// row 1
.color_skeleton_aq_0{
	@include skeleton(#8ED2C9)
}

.color_skeleton_aq_1{
	@include skeleton(#56DDBC)
}

.color_skeleton_aq_2{
	@include skeleton(#8EDC9D)
}

.color_skeleton_aq_3{
	@include skeleton(#6AFFED)
}

.color_skeleton_aq_4{
	@include skeleton(#95FFF2)
}

.color_skeleton_aq_5{
	@include skeleton(#3BD8D8)
}

// row 2
.color_skeleton_aq__0{
	@include skeleton(#94D7DA)
}

.color_skeleton_aq__1{
	@include skeleton(#03BDCA)
}

.color_skeleton_aq__2{
	@include skeleton(#11CDE1)
}

.color_skeleton_aq__3{
	@include skeleton(#37B2CB)
}

.color_skeleton_aq__4{
	@include skeleton(#27C5AB)
}

.color_skeleton_aq__5{
	@include skeleton(#01AE9B)
}

// row 3
.color_skeleton_aq___0{
	@include skeleton(#BEFAE7)
}

.color_skeleton_aq___1{
	@include skeleton(#5FB0A7)
}

.color_skeleton_aq___2{
	@include skeleton(#009997)
}

.color_skeleton_aq___3{
	@include skeleton(#02C6B8)
}

.color_skeleton_aq___4{
	@include skeleton(#00D6C3)
}

.color_skeleton_aq___5{
	@include skeleton(#01D5C9)
}

// row 4
.color_skeleton_aq____0{
	@include skeleton(#098D69)
}

.color_skeleton_aq____1{
	@include skeleton(#0CC388)
}

.color_skeleton_aq____2{
	@include skeleton(#1EBA95)
}

.color_skeleton_aq____3{
	@include skeleton(#30FFEA)
}

.color_skeleton_aq____4{
	@include skeleton(#91FFF4)
}

.color_skeleton_aq____5{
	@include skeleton(#09CAC7)
}

// row 5
.color_skeleton_aq_____0{
	@include skeleton(#78C4BA)
}

.color_skeleton_aq_____1{
	@include skeleton(#8BE1D7)
}

.color_skeleton_aq_____2{
	@include skeleton(#8BD0C6)
}

.color_skeleton_aq_____3{
	@include skeleton(#AAE0D3)
}

.color_skeleton_aq_____4{
	@include skeleton(#B2E9E3)
}

.color_skeleton_aq_____5{
	@include skeleton(#77E6AF)
}

// row 6
.color_skeleton_aq______0{
	@include skeleton(#10D3CB)
}

.color_skeleton_aq______1{
	@include skeleton(#67D29C)
}

.color_skeleton_aq______2{
	@include skeleton(#00D1CC)
}

.color_skeleton_aq______3{
	@include skeleton(#72D4DB)
}

.color_skeleton_aq______4{
	@include skeleton(#8FFEED)
}

.color_skeleton_aq______5{
	@include skeleton(#2CBCB2)
}




// BLUES START HERE




// row 1
.color_skeleton_bl_0{
	@include skeleton(#012345)
}

.color_skeleton_bl_1{
	@include skeleton(#123456)
}

.color_skeleton_bl_2{
	@include skeleton(#234567)
}

.color_skeleton_bl_3{
	@include skeleton(#345678)
}

.color_skeleton_bl_4{
	@include skeleton(#456789)
}

.color_skeleton_bl_5{
	@include skeleton(#1C7196)
}

// row 2
.color_skeleton_bl__0{
	@include skeleton(#2680A7)
}

.color_skeleton_bl__1{
	@include skeleton(#005B9A)
}

.color_skeleton_bl__2{
	@include skeleton(#26477E)
}

.color_skeleton_bl__3{
	@include skeleton(#3445C3)
}

.color_skeleton_bl__4{
	@include skeleton(#1D63DB)
}

.color_skeleton_bl__5{
	@include skeleton(#3C78DF)
}

// row 3
.color_skeleton_bl___0{
	@include skeleton(#155AD0)
}

.color_skeleton_bl___1{
	@include skeleton(#0C4DBD)
}

.color_skeleton_bl___2{
	@include skeleton(#10459F)
}

.color_skeleton_bl___3{
	@include skeleton(#2D97EF)
}

.color_skeleton_bl___4{
	@include skeleton(#003366)
}

.color_skeleton_bl___5{
	@include skeleton(#00386B)
}


// row 4
.color_skeleton_bl____0{
	@include skeleton(#000022)
}

.color_skeleton_bl____1{
	@include skeleton(#191938)
}

.color_skeleton_bl____2{
	@include skeleton(#32324E)
}

.color_skeleton_bl____3{
	@include skeleton(#0A294A)
}

.color_skeleton_bl____4{
	@include skeleton(#123356)
}

.color_skeleton_bl____5{
	@include skeleton(#4B5974)
}

// row 5
.color_skeleton_bl_____0{
	@include skeleton(#333448)
}

.color_skeleton_bl_____1{
	@include skeleton(#00203C)
}

.color_skeleton_bl_____2{
	@include skeleton(#31589D)
}

.color_skeleton_bl_____3{
	@include skeleton(#0D47A1)
}

.color_skeleton_bl_____4{
	@include skeleton(#2962FF)
}

.color_skeleton_bl_____5{
	@include skeleton(#2979FF)
}

// row 6
.color_skeleton_bl______0{
	@include skeleton(#01579B)
}

.color_skeleton_bl______1{
	@include skeleton(#3465A4)
}

.color_skeleton_bl______2{
	@include skeleton(#204A87)
}

.color_skeleton_bl______3{
	@include skeleton(#00136F)
}

.color_skeleton_bl______4{
	@include skeleton(#03158B)
}

.color_skeleton_bl______5{
	@include skeleton(#002C69)
}
