@mixin block( $color){ height: auto; width: auto; transition: transform 0.2s; fill:$color; .st0{fill:$color;} .st1{fill:none;stroke:$color;stroke-miterlimit:10;} &:hover{ transform: scale(1.1); } @media (max-width: 770px) { transform: scale(0.8); } }

// NOTE:  blue is actually white because i am an idiot
// NOTE:  white is acutally blue because i am an idiot




.blue_row_one_0{ @include block(#FFFFFF)}

.blue_row_one_1{ @include block(#fdfbfb) }

.blue_row_one_2{ @include block(#fbfdfb) }

.blue_row_one_3{ @include block(#fdfdff) }

.blue_row_one_4{ @include block(#fdf9f9) }

.blue_row_one_5{ @include block(#fdfbfb) }

.blue_row_two_0{ @include block(#fcfcfc) }

.blue_row_two_1{ @include block(#f7f7f7) }

.blue_row_two_2{ @include block(#f3f3f3) }

.blue_row_two_3{ @include block(#eeeeee) }

.blue_row_two_4{ @include block(#eaeaea) }

.blue_row_two_5{ @include block(#F5F5F5) }

.blue_row_three_0{ @include block(#fffafa) }

.blue_row_three_1{ @include block(#f0f0f0) }

.blue_row_three_2{ @include block(#e3e3e3) }

.blue_row_three_3{ @include block(#cecece) }

.blue_row_three_4{ @include block(#bdbcbc) }

.blue_row_three_5{ @include block(#ebebeb) }

.blue_row_four_0{ @include block( #efefef) }

.blue_row_four_1{ @include block(#f7f8f8) }

.blue_row_four_2{ @include block(#fafafa) }

.blue_row_four_3{ @include block(#fffff9) }

.blue_row_four_4{ @include block(#fdfffc) }

.blue_row_four_5{ @include block(#fcfcff) }

.blue_row_five_0{ @include block(#fef9ff) }

.blue_row_five_1{ @include block(#F8F8FF) }

.blue_row_five_2{ @include block(#FEFEFA) }

.blue_row_five_3{ @include block(#FFFAFA) }

.blue_row_five_4{ @include block(#F8F8FF) }

.blue_row_five_5{ @include block(#F7F6F0) }

.blue_row_six_0{ @include block(#F2F2F2) }

.blue_row_six_1{ @include block(#F7F8F4) }

.blue_row_six_2{ @include block(#EDEFEE) }

.blue_row_six_3{ @include block(#D7DAD8) }

.blue_row_six_4{ @include block(#CBCECC) }

.blue_row_six_5{ @include block(#EDEDE5) }

.blue_row_seven_0{ @include block(#F2F0E6) }

.blue_row_seven_1{ @include block(#EEECE5) }

.blue_row_seven_2{ @include block(#EEEAE0) }

.blue_row_seven_3{ @include block(#EBE9E0) }

.blue_row_seven_4{ @include block(#ECE5D6) }

.blue_row_seven_5{ @include block(#EFEAE0) }

.blue_row_eight_0{ @include block(#E4DFD4) }

.blue_row_eight_1{ @include block(#E4E0DA) }

.blue_row_eight_2{ @include block(#ECE5D7) }

.blue_row_eight_3{ @include block(#ECE5D6) }

.blue_row_eight_4{ @include block(#D0C8C1) }

.blue_row_eight_5{ @include block(#DBD5CE) }

.blue_row_nine_0{ @include block(#ECE8D3) }

.blue_row_nine_1{ @include block(#CFCABB) }

.blue_row_nine_2{ @include block(#D0C8C1) }

.blue_row_nine_3{ @include block(#F1F2F1) }

.blue_row_nine_4{ @include block(#DDD5B7) }

.blue_row_nine_5{ @include block(#CFCABB) }

.blue_row_ten_0{ @include block(#EAE3DA) }

.blue_row_ten_1{ @include block(#D7CEC1) }

.blue_row_ten_2{ @include block(#ECE5D7) }

.blue_row_ten_3{ @include block(#DBD5CE) }

.blue_row_ten_4{ @include block(#E5DFC6) }

.blue_row_ten_5{ @include block(#F3EBD8) }












// GREYS








.greys_row_one_0{ @include block(#aaaaaa) }

.greys_row_one_1{ @include block(#bbbbbb) }

.greys_row_one_2{ @include block(#cccccc) }

.greys_row_one_3{ @include block(#858585) }

.greys_row_one_4{ @include block(#bcbcbc) }

.greys_row_one_5{ @include block(#CACDCC) }

.greys_row_two_0{ @include block(#dddddd) }

.greys_row_two_1{ @include block(#eeeeee) }

.greys_row_two_2{ @include block(#eeebeb) }

.greys_row_two_3{ @include block(#dbdbdb) }

.greys_row_two_4{ @include block(#cecccc) }

.greys_row_two_5{ @include block(#dddddd) }

.greys_row_three_0{ @include block(#d2d2d4) }

.greys_row_three_1{ @include block(#C2CBD2) }

.greys_row_three_2{ @include block(#ADB1B2) }

.greys_row_three_3{ @include block(#A9A9A9) }

.greys_row_three_4{ @include block(#B8B8B8) }

.greys_row_three_5{ @include block(#999999) }

.greys_row_four_0{ @include block(#9C9C9C) }

.greys_row_four_1{ @include block(#9E9E9E) }

.greys_row_four_2{ @include block(#A1A1A1) }

.greys_row_four_3{ @include block(#A3A3A3) }

.greys_row_four_4{ @include block(#A6A6A6) }

.greys_row_four_5{ @include block(#A9A9A9) }

.greys_row_five_0{ @include block(#A8A8A8) }

.greys_row_five_1{ @include block(#ABABAB) }

.greys_row_five_2{ @include block(#AAAAAA) }

.greys_row_five_3{ @include block(#ADADAD) }

.greys_row_five_4{ @include block(#B0B0B0) }

.greys_row_five_5{ @include block(#B3B3B3) }

.greys_row_six_0{ @include block(#B5B5B5) }

.greys_row_six_1{ @include block(#B8B8B8) }

.greys_row_six_2{ @include block(#BABABA) }

.greys_row_six_3{ @include block(#BDBDBD) }

.greys_row_six_4{ @include block(#C0C0C0) }

.greys_row_six_5{ @include block(#BEBEBE) }

.greys_row_seven_0{ @include block(#BFBFBF) }

.greys_row_seven_1{ @include block(#C2C2C2) }

.greys_row_seven_2{ @include block(#C4C4C4) }

.greys_row_seven_3{ @include block(#C7C7C7) }

.greys_row_seven_4{ @include block(#C9C9C9) }

.greys_row_seven_5{ @include block(#CDCDCD) }

.greys_row_eight_0{ @include block(#CCCCCC) }

.greys_row_eight_1{ @include block(#CFCFCF) }

.greys_row_eight_2{ @include block(#D1D1D1) }

.greys_row_eight_3{ @include block(#D4D4D4) }

.greys_row_eight_4{ @include block(#D3D3D3) }

.greys_row_eight_5{ @include block(#D6D6D6) }

.greys_row_nine_0{ @include block(#D9D9D9) }

.greys_row_nine_1{ @include block(#DCDCDC) }

.greys_row_nine_2{ @include block(#DBDBDB) }

.greys_row_nine_3{ @include block(#DEDEDE) }

.greys_row_nine_4{ @include block(#E0E0E0) }

.greys_row_nine_5{ @include block(#E3E3E3) }

.greys_row_ten_0{ @include block(#E5E5E5) }

.greys_row_ten_1{ @include block(#E8E8E8) }

.greys_row_ten_2{ @include block(#EBEBEB) }

.greys_row_ten_3{ @include block(#EDEDED) }

.greys_row_ten_4{ @include block(#F0F0F0) }

.greys_row_ten_5{ @include block(#F2F2F2) }







// BEIGES









.beige_row_one_0{ @include block(#E5D8C7) }

.beige_row_one_1{ @include block(#F4E4D6) }

.beige_row_one_2{ @include block(#F0DFD0) }

.beige_row_one_3{ @include block(#EAD8C8) }

.beige_row_one_4{ @include block(#E3D0BE) }

.beige_row_one_5{ @include block(#DBC9B8) }

.beige_row_two_0{ @include block(#FAF0E6) }

.beige_row_two_1{ @include block(#FFF0DB) }

.beige_row_two_2{ @include block(#EED9C4) }

.beige_row_two_3{ @include block(#E4D5B7) }

.beige_row_two_4{ @include block(#D9B99B) }

.beige_row_two_5{ @include block(#F6E8D6) }

.beige_row_three_0{ @include block(#ECDCC7) }

.beige_row_three_1{ @include block(#CEC0AF) }

.beige_row_three_2{ @include block(#ABA192) }

.beige_row_three_3{ @include block(#90877C) }

.beige_row_three_4{ @include block(#ECDCCF) }

.beige_row_three_5{ @include block(#EAD8CA) }

.beige_row_four_0{ @include block(#DECEB5) }

.beige_row_four_1{ @include block(#F1EBDB) }

.beige_row_four_2{ @include block(#F0E8C4) }

.beige_row_four_3{ @include block(#BAA48C) }

.beige_row_four_4{ @include block(#E0CBB0) }

.beige_row_four_5{ @include block(#EEE0C5) }

.beige_row_five_0{ @include block(#E6E2D9) }

.beige_row_five_1{ @include block(#F1D7C8) }

.beige_row_five_2{ @include block(#D8C8AE) }

.beige_row_five_3{ @include block(#F7D8AA) }

.beige_row_five_4{ @include block(#F4E4D6) }

.beige_row_five_5{ @include block(#F0DFD0) }

.beige_row_six_0{ @include block(#EAD8C8) }

.beige_row_six_1{ @include block(#E3D0BE) }

.beige_row_six_2{ @include block(#DBC9B8) }

.beige_row_six_3{ @include block(#C4AE8E) }

.beige_row_six_4{ @include block(#E5DCCB) }

.beige_row_six_5{ @include block(#EADDCA) }

.beige_row_seven_0{ @include block(#E7DCC6) }

.beige_row_seven_1{ @include block(#E8DCC6) }

.beige_row_seven_2{ @include block(#E9DFC6) }

.beige_row_seven_3{ @include block(#D6C6AD) }

.beige_row_seven_4{ @include block(#E2C9AA) }

.beige_row_seven_5{ @include block(#DBC8A7) }

.beige_row_eight_0{ @include block(#E1CDAA) }

.beige_row_eight_1{ @include block(#DDCEAD) }

.beige_row_eight_2{ @include block(#C6B196) }

.beige_row_eight_3{ @include block(#D6B592) }

.beige_row_eight_4{ @include block(#CBB58E) }

.beige_row_eight_5{ @include block(#DABB8D) }

.beige_row_nine_0{ @include block(#CFBE93) }

.beige_row_nine_1{ @include block(#B9A185) }

.beige_row_nine_2{ @include block(#CAA77F) }

.beige_row_nine_3{ @include block(#C3A984) }

.beige_row_nine_4{ @include block(#CFB384) }

.beige_row_nine_5{ @include block(#C1AE84) }

.beige_row_ten_0{ @include block(#F4E6CE) }

.beige_row_ten_1{ @include block(#F1E9D7) }

.beige_row_ten_2{ @include block(#F2E1CC) }

.beige_row_ten_3{ @include block(#F6E6D4) }

.beige_row_ten_4{ @include block(#F5E4CF) }

.beige_row_ten_5{ @include block(#EAD2B4) }












// dark greys_row_ten_5





.darkgrey_row_one_0{ @include block(#808080) }

.darkgrey_row_one_1{ @include block(#666666) }

.darkgrey_row_one_2{ @include block(#595959) }

.darkgrey_row_one_3{ @include block(#4C4C4C) }

.darkgrey_row_one_4{ @include block(#333333) }

.darkgrey_row_one_5{ @include block(#514E4C) }

.darkgrey_row_two_0{ @include block(#777777) }

.darkgrey_row_two_1{ @include block(#545B72) }

.darkgrey_row_two_2{ @include block(#505567) }

.darkgrey_row_two_3{ @include block(#464C5E) }

.darkgrey_row_two_4{ @include block(#393E51) }

.darkgrey_row_two_5{ @include block(#2C3142) }

.darkgrey_row_three_0{ @include block(#424242) }

.darkgrey_row_three_1{ @include block(#3A3A3A) }

.darkgrey_row_three_2{ @include block(#313131) }

.darkgrey_row_three_3{ @include block(#242424) }

.darkgrey_row_three_4{ @include block(#5E5E5E) }

.darkgrey_row_three_5{ @include block(#575757) }

.darkgrey_row_four_0{ @include block(#4D4D4D) }

.darkgrey_row_four_1{ @include block(#454545) }

.darkgrey_row_four_2{ @include block(#3E3E3E) }

.darkgrey_row_four_3{ @include block(#727578) }

.darkgrey_row_four_4{ @include block(#686E76) }

.darkgrey_row_four_5{ @include block(#606872) }

.darkgrey_row_five_0{ @include block(#505963) }

.darkgrey_row_five_1{ @include block(#4B535C) }

.darkgrey_row_five_2{ @include block(#151515) }

.darkgrey_row_five_3{ @include block(#242424) }

.darkgrey_row_five_4{ @include block(#494949) }

.darkgrey_row_five_5{ @include block(#636262) }

.darkgrey_row_six_0{ @include block(#171a21) }

.darkgrey_row_six_1{ @include block(#2D2D2D) }

.darkgrey_row_six_2{ @include block(#333333) }

.darkgrey_row_six_3{ @include block(#3A3A3A) }

.darkgrey_row_six_4{ @include block(#424242) }

.darkgrey_row_six_5{ @include block(#4B4B4B) }

.darkgrey_row_seven_0{ @include block(#404040) }

.darkgrey_row_seven_1{ @include block(#514E4C) }

.darkgrey_row_seven_2{ @include block(#2E2E2E) }

.darkgrey_row_seven_3{ @include block(#2D2D32) }

.darkgrey_row_seven_4{ @include block(#585858) }

.darkgrey_row_seven_5{ @include block(#676767) }

.darkgrey_row_eight_0{ @include block(#454545) }

.darkgrey_row_eight_1{ @include block(#363636) }

.darkgrey_row_eight_2{ @include block(#272727) }

.darkgrey_row_eight_3{ @include block(#292622) }

.darkgrey_row_eight_4{ @include block(#353535) }

.darkgrey_row_eight_5{ @include block(#262626) }

.darkgrey_row_nine_0{ @include block(#1e1e1e) }

.darkgrey_row_nine_1{ @include block(#1F1F1F) }

.darkgrey_row_nine_2{ @include block(#35363B) }

.darkgrey_row_nine_3{ @include block(#494846) }

.darkgrey_row_nine_4{ @include block(#363636) }

.darkgrey_row_nine_5{ @include block(#252527) }

.darkgrey_row_ten_0{ @include block(#403F3D) }

.darkgrey_row_ten_1{ @include block(#121212) }

.darkgrey_row_ten_2{ @include block(#2D2D2D) }

.darkgrey_row_ten_3{ @include block(#272E36) }

.darkgrey_row_ten_4{ @include block(#3E3E3E) }

.darkgrey_row_ten_5{ @include block(#343434) }











// blacks



.black_row_one_0{ @include block(#000000) }

.black_row_one_1{ @include block(#030303) }

.black_row_one_2{ @include block(#050505) }

.black_row_one_3{ @include block(#080808) }

.black_row_one_4{ @include block(#0A0A0A) }

.black_row_one_5{ @include block(#0D0D0D) }

.black_row_two_0{ @include block(#010101) }

.black_row_two_1{ @include block(#020202) }

.black_row_two_2{ @include block(#040404) }

.black_row_two_3{ @include block(#060606) }

.black_row_two_4{ @include block(#070707) }

.black_row_two_5{ @include block(#0C0C0C) }











// browns







.brown_row_one_0{ @include block(#40220F) }

.brown_row_one_1{ @include block(#7F4F21) }

.brown_row_one_2{ @include block(#B28247) }

.brown_row_one_3{ @include block(#C9A063) }

.brown_row_one_4{ @include block(#FFF5E0) }

.brown_row_one_5{ @include block(#734B3D) }

.brown_row_two_0{ @include block(#715045) }

.brown_row_two_1{ @include block(#7D594D) }

.brown_row_two_2{ @include block(#896154) }

.brown_row_two_3{ @include block(#7C4F41) }

.brown_row_two_4{ @include block(#8D4343) }

.brown_row_two_5{ @include block(#6F3B3B) }

.brown_row_three_0{ @include block(#583131) }

.brown_row_three_1{ @include block(#422C2C) }

.brown_row_three_2{ @include block(#332424) }

.brown_row_three_3{ @include block(#DDCCBE) }

.brown_row_three_4{ @include block(#DDC0A6) }

.brown_row_three_5{ @include block(#C1A07F) }

.brown_row_four_0{ @include block(#A57E57) }

.brown_row_four_1{ @include block(#A87848) }

.brown_row_four_2{ @include block(#29180A) }

.brown_row_four_3{ @include block(#2D1A0C) }

.brown_row_four_4{ @include block(#3C2210) }

.brown_row_four_5{ @include block(#3C2210) }

.brown_row_five_0{ @include block(#472812) }

.brown_row_five_1{ @include block(#543016) }

.brown_row_five_2{ @include block(#42372D) }

.brown_row_five_3{ @include block(#5A4A3D) }

.brown_row_five_4{ @include block(#6D5B4B) }

.brown_row_five_5{ @include block(#8B715C) }

.brown_row_six_0{ @include block(#A3856B) }

.brown_row_six_1{ @include block(#D6BAA9) }

.brown_row_six_2{ @include block(#B8917B) }

.brown_row_six_3{ @include block(#5D4A44) }

.brown_row_six_4{ @include block(#846761) }

.brown_row_six_5{ @include block(#C5A77A) }

.brown_row_seven_0{ @include block(#CEB990) }

.brown_row_seven_1{ @include block(#C7AD88) }

.brown_row_seven_2{ @include block(#B29969) }

.brown_row_seven_3{ @include block(#D8C6A2) }

.brown_row_seven_4{ @include block(#270C00) }

.brown_row_seven_5{ @include block(#582800) }

.brown_row_eight_0{ @include block(#5C2B2B) }

.brown_row_eight_1{ @include block(#4D2828) }

.brown_row_eight_2{ @include block(#3A1C1C) }

.brown_row_eight_3{ @include block(#221313) }

.brown_row_eight_4{ @include block(#0F0606) }

.brown_row_eight_5{ @include block(#5A3E29) }

.brown_row_nine_0{ @include block(#8A5D3C) }

.brown_row_nine_1{ @include block(#B1A1A2) }

.brown_row_nine_2{ @include block(#4B3027) }

.brown_row_nine_3{ @include block(#B69C9D) }

.brown_row_nine_4{ @include block(#68463A) }

.brown_row_nine_5{ @include block(#8E5E47) }

.brown_row_ten_0{ @include block(#C39887) }

.brown_row_ten_1{ @include block(#683B28) }

.brown_row_ten_2{ @include block(#A57548) }

.brown_row_ten_3{ @include block(#FCD7AD) }

.brown_row_ten_4{ @include block(#F6C28B) }

.brown_row_ten_5{ @include block(#5F3D31) }





// Oranges











.orange_row_one_0{ @include block(#FF3400) }

.orange_row_one_1{ @include block(#FF4500) }

.orange_row_one_2{ @include block(#FF5600) }

.orange_row_one_3{ @include block(#FF7800) }

.orange_row_one_4{ @include block(#FF8A00) }

.orange_row_one_5{ @include block(#EA5336) }

.orange_row_two_0{ @include block(#F06D39) }

.orange_row_two_1{ @include block(#E9630A) }

.orange_row_two_2{ @include block(#ED8530) }

.orange_row_two_3{ @include block(#FAB45E) }

.orange_row_two_4{ @include block(#FFA74E) }

.orange_row_two_5{ @include block(#FF8D00) }

.orange_row_two_0{ @include block(#FF7400) }

.orange_row_two_1{ @include block(#FF5A00) }

.orange_row_two_2{ @include block(#FD4000) }

.orange_row_two_3{ @include block(#FF8100) }

.orange_row_two_4{ @include block(#FFA700) }

.orange_row_two_5{ @include block(#FF3300) }

.orange_row_three_0{ @include block(#FF4D00) }

.orange_row_three_1{ @include block(#FF8100) }

.orange_row_three_2{ @include block(#FBDD95) }

.orange_row_three_3{ @include block(#EAB667) }

.orange_row_three_4{ @include block(#E59644) }

.orange_row_three_5{ @include block(#E17F3D) }

.orange_row_four_0{ @include block(#D65D29) }

.orange_row_four_1{ @include block(#EC7E10) }

.orange_row_four_2{ @include block(#F49606) }

.orange_row_four_3{ @include block(#F6AC50) }

.orange_row_four_4{ @include block(#F0BD70) }

.orange_row_four_5{ @include block(#F0D094) }

.orange_row_five_0{ @include block(#EA5336) }

.orange_row_five_1{ @include block(#F06D39) }

.orange_row_five_2{ @include block(#E9630A) }

.orange_row_five_3{ @include block(#ED8530) }

.orange_row_five_4{ @include block(#FAB45E) }

.orange_row_five_5{ @include block(#FF955B) }

.orange_row_six_0{ @include block(#FF9A46) }

.orange_row_six_1{ @include block(#FFD7B5) }

.orange_row_six_2{ @include block(#CC2101) }

.orange_row_six_3{ @include block(#FF4D03) }

.orange_row_six_4{ @include block(#FC6D26) }

.orange_row_six_5{ @include block(#FF5A00) }

.orange_row_seven_0{ @include block(#FC6D26) }

.orange_row_seven_1{ @include block(#FF7F00) }

.orange_row_seven_2{ @include block(#FFBA41) }

.orange_row_seven_3{ @include block(#FC742A) }

.orange_row_seven_4{ @include block(#FB2D15) }

.orange_row_seven_5{ @include block(#FB441A) }

.orange_row_eight_0{ @include block(#FE6925) }

.orange_row_eight_1{ @include block(#FE6627) }

.orange_row_eight_2{ @include block(#FD6D27) }

.orange_row_eight_3{ @include block(#FF4D00) }

.orange_row_eight_4{ @include block(#FA9D12) }

.orange_row_eight_5{ @include block(#FB6904) }

.orange_row_nine_0{ @include block(#F56102) }

.orange_row_nine_1{ @include block(#E77917) }

.orange_row_nine_2{ @include block(#F9C241) }

.orange_row_nine_3{ @include block(#FDAF17) }

.orange_row_nine_4{ @include block(#FB9C1C) }

.orange_row_nine_5{ @include block(#FE671E) }










// ambers






.amber_row_one_0{ @include block(#FFD22B) }

.amber_row_one_1{ @include block(#FEB204) }

.amber_row_one_2{ @include block(#FF8503) }

.amber_row_one_3{ @include block(#D53600) }

.amber_row_one_4{ @include block(#700E01) }

.amber_row_one_5{ @include block(#ECD292) }

.amber_row_two_0{ @include block(#E5A267) }

.amber_row_two_1{ @include block(#D27254) }

.amber_row_two_2{ @include block(#A5494D) }

.amber_row_two_3{ @include block(#63223C) }

.amber_row_two_4{ @include block(#FF8D00) }

.amber_row_two_5{ @include block(#F4D77C) }

.amber_row_three_0{ @include block(#EE9E07) }

.amber_row_three_1{ @include block(#F6C839) }

.amber_row_three_2{ @include block(#FFC100) }

.amber_row_three_3{ @include block(#F19D00) }

.amber_row_three_4{ @include block(#D48C05) }

.amber_row_three_5{ @include block(#D26900) }

.amber_row_four_0{ @include block(#C35603) }

.amber_row_four_1{ @include block(#984200) }

.amber_row_four_2{ @include block(#FFB56C) }

.amber_row_four_3{ @include block(#E19739) }

.amber_row_four_4{ @include block(#D26900) }

.amber_row_four_5{ @include block(#984200) }

.amber_row_five_0{ @include block(#632B00) }

.amber_row_five_1{ @include block(#673C00) }

.amber_row_five_2{ @include block(#B36800) }

.amber_row_five_3{ @include block(#CC7700) }

.amber_row_five_4{ @include block(#E68600) }

.amber_row_five_5{ @include block(#FF9500) }

.amber_row_six_0{ @include block(#1B0F00) }

.amber_row_six_1{ @include block(#341E00) }

.amber_row_six_2{ @include block(#4E2D00) }

.amber_row_six_3{ @include block(#673C00) }

.amber_row_six_4{ @include block(#814B00) }

.amber_row_six_5{ @include block(#FFC200) }

.amber_row_seven_0{ @include block(#673C00) }

.amber_row_seven_1{ @include block(#B36800) }

.amber_row_seven_2{ @include block(#CC7700) }

.amber_row_seven_3{ @include block(#E68600) }

.amber_row_seven_4{ @include block(#FF9500) }

.amber_row_seven_5{ @include block(#FF8D00) }

.amber_row_eight_0{ @include block(#F4D77C) }

.amber_row_eight_1{ @include block(#EE9E07) }

.amber_row_eight_2{ @include block(#F6C839) }

.amber_row_eight_3{ @include block(#FFC100) }

.amber_row_eight_4{ @include block(#FF9348) }

.amber_row_eight_5{ @include block(#FF8451) }

.amber_row_nine_0{ @include block(#DB8800) }

.amber_row_nine_1{ @include block(#E57603) }

.amber_row_nine_2{ @include block(#F37531) }

.amber_row_nine_3{ @include block(#893101) }

.amber_row_nine_4{ @include block(#FFBF00) }

.amber_row_nine_5{ @include block(#D36216) }

.amber_row_ten_0{ @include block(#D68D02) }

.amber_row_ten_1{ @include block(#D57F10) }

.amber_row_ten_2{ @include block(#D5420F) }

.amber_row_ten_3{ @include block(#FFA020) }

.amber_row_ten_4{ @include block(#E59B52) }

.amber_row_ten_5{ @include block(#F8C77A) }




// reds



.red_row_one_0{ @include block(#EF5D61) }

.red_row_one_1{ @include block(#FF0000) }

.red_row_one_2{ @include block(#F00000) }

.red_row_one_3{ @include block(#D40000) }

.red_row_one_4{ @include block(#BD0000) }

.red_row_one_5{ @include block(#A50000) }

.red_row_two_0{ @include block(#DD0000) }

.red_row_two_1{ @include block(#C10000) }

.red_row_two_2{ @include block(#B00000) }

.red_row_two_3{ @include block(#A10101) }

.red_row_two_4{ @include block(#980000) }

.red_row_two_5{ @include block(#FF4646) }

.red_row_three_0{ @include block(#6F0000) }

.red_row_three_1{ @include block(#490D0D) }

.red_row_three_2{ @include block(#FF4E50) }

.red_row_three_3{ @include block(#E0301E) }

.red_row_three_4{ @include block(#FE2E2E) }

.red_row_three_5{ @include block(#A11E1E) }

.red_row_four_0{ @include block(#E30D0D) }

.red_row_four_1{ @include block(#EE6868) }

.red_row_four_2{ @include block(#EA3A3A) }

.red_row_four_3{ @include block(#FF0000) }

.red_row_four_4{ @include block(#F90B0B) }

.red_row_four_5{ @include block(#C60F0F) }

.red_row_five_0{ @include block(#FF1414) }

.red_row_five_1{ @include block(#D31313) }

.red_row_five_2{ @include block(#8B0000) }

.red_row_five_3{ @include block(#955366) }

.red_row_five_4{ @include block(#720000) }

.red_row_five_5{ @include block(#9C2542) }

.red_row_six_0{ @include block(#7A0000) }

.red_row_six_1{ @include block(#DB0000) }

.red_row_six_2{ @include block(#D20000) }

.red_row_six_3{ @include block(#FF3D3D) }

.red_row_six_4{ @include block(#C12E2E) }

.red_row_six_5{ @include block(#E16969) }

.red_row_seven_0{ @include block(#C35959) }

.red_row_seven_1{ @include block(#AB4C4C) }

.red_row_seven_2{ @include block(#812727) }

.red_row_seven_3{ @include block(#490D0D) }

.red_row_seven_4{ @include block(#F23434) }

.red_row_seven_5{ @include block(#F63D3D) }

.red_row_eight_0{ @include block(#CE3333) }

.red_row_eight_1{ @include block(#F65050) }

.red_row_eight_2{ @include block(#F62222) }

.red_row_eight_3{ @include block(#C01920) }

.red_row_eight_4{ @include block(#E53131) }

.red_row_eight_5{ @include block(#FFB5B5) }

.red_row_nine_0{ @include block(#FF9393) }

.red_row_nine_1{ @include block(#FF6A6A) }

.red_row_nine_2{ @include block(#FF3E3E) }

.red_row_nine_3{ @include block(#FF2D2D) }

.red_row_nine_4{ @include block(#941828) }

.red_row_nine_5{ @include block(#7E1522) }

.red_row_ten_0{ @include block(#68111C) }

.red_row_ten_1{ @include block(#520D16) }

.red_row_ten_2{ @include block(#520D16) }

.red_row_ten_3{ @include block(#5A110F) }

.red_row_ten_4{ @include block(#4F0C08) }

.red_row_ten_5{ @include block(#410906) }







// pinks



.pinks_row_one_0{ @include block(#FF95C0) }

.pinks_row_one_1{ @include block(#FF88B2) }

.pinks_row_one_2{ @include block(#FF77A7) }

.pinks_row_one_3{ @include block(#FF6A90) }

.pinks_row_one_4{ @include block(#FF6A90) }

.pinks_row_one_5{ @include block(#EC4276) }

.pinks_row_two_0{ @include block(#FFCCCC) }

.pinks_row_two_1{ @include block(#E3B9B9) }

.pinks_row_two_2{ @include block(#FFC0C0) }

.pinks_row_two_3{ @include block(#CEAEAE) }

.pinks_row_two_4{ @include block(#FFC9C9) }

.pinks_row_two_5{ @include block(#FF00B4) }

.pinks_row_three_0{ @include block(#E500AD) }

.pinks_row_three_1{ @include block(#C70097) }

.pinks_row_three_2{ @include block(#B20087) }

.pinks_row_three_3{ @include block(#9F0080) }

.pinks_row_three_4{ @include block(#FF9DAB) }

.pinks_row_three_5{ @include block(#FFA2AF) }

.pinks_row_four_0{ @include block(#FB9FAC) }

.pinks_row_four_1{ @include block(#FB9BA9) }

.pinks_row_four_2{ @include block(#FB97A5) }

.pinks_row_four_3{ @include block(#F9AADD) }

.pinks_row_four_4{ @include block(#FFA6FB) }

.pinks_row_four_5{ @include block(#FFA8A8) }

.pinks_row_five_0{ @include block(#FD88A5) }

.pinks_row_five_1{ @include block(#FF7E8B) }

.pinks_row_five_2{ @include block(#FF967B) }

.pinks_row_five_3{ @include block(#FF5678) }

.pinks_row_five_4{ @include block(#E05858) }

.pinks_row_five_5{ @include block(#F34A4A) }

.pinks_row_six_0{ @include block(#F55449) }

.pinks_row_six_1{ @include block(#FFBEBD) }

.pinks_row_six_2{ @include block(#FFCFEC) }

.pinks_row_six_3{ @include block(#FFB7E3) }

.pinks_row_six_4{ @include block(#FFA6DC) }

.pinks_row_six_5{ @include block(#FF94D5) }

.pinks_row_seven_0{ @include block(#FF80CD) }

.pinks_row_seven_1{ @include block(#EFBAC6) }

.pinks_row_seven_2{ @include block(#EAA8B7) }

.pinks_row_seven_3{ @include block(#E69AAB) }

.pinks_row_seven_4{ @include block(#E88CA1) }

.pinks_row_seven_5{ @include block(#E2738C) }

.pinks_row_eight_0{ @include block(#FFC8E3) }

.pinks_row_eight_1{ @include block(#FF3399) }

.pinks_row_eight_2{ @include block(#FF1D8E) }

.pinks_row_eight_3{ @include block(#E4007C) }

.pinks_row_eight_4{ @include block(#7F0E47) }

.pinks_row_eight_5{ @include block(#FFC0CB) }

.pinks_row_nine_0{ @include block(#FFC6D0) }

.pinks_row_nine_1{ @include block(#FFD9DF) }

.pinks_row_nine_2{ @include block(#FFDFE5) }

.pinks_row_nine_3{ @include block(#FFF2F4) }

.pinks_row_nine_4{ @include block(#FEC0FF) }

.pinks_row_nine_5{ @include block(#FC93E8) }

.pinks_row_ten_0{ @include block(#FF86E0) }

.pinks_row_ten_1{ @include block(#EE4FC5) }

.pinks_row_ten_2{ @include block(#DF37D6) }

.pinks_row_ten_3{ @include block(#FFCCEE) }

.pinks_row_ten_4{ @include block(#FC80A5) }

.pinks_row_ten_5{ @include block(#FC80A5) }








// purples




.purples_row_one_0{ @include block(#653B7D) }

.purples_row_one_1{ @include block(#A562CF) }

.purples_row_one_2{ @include block(#E2CEED) }

.purples_row_one_3{ @include block(#AC36E1) }

.purples_row_one_4{ @include block(#A600D2) }

.purples_row_one_5{ @include block(#BE82D8) }

.purples_row_two_0{ @include block(#AB46C5) }

.purples_row_two_1{ @include block(#AD1CBF) }

.purples_row_two_2{ @include block(#D7BDEC) }

.purples_row_two_3{ @include block(#D7CDEC) }

.purples_row_two_4{ @include block(#D7DDEC) }

.purples_row_two_5{ @include block(#7C259A) }

.purples_row_three_0{ @include block(#B01299) }

.purples_row_three_1{ @include block(#800080) }

.purples_row_three_2{ @include block(#600060) }

.purples_row_three_3{ @include block(#400040) }

.purples_row_three_4{ @include block(#EFB3FF) }

.purples_row_three_5{ @include block(#E2A2FF) }

.purples_row_four_0{ @include block(#D18FFF) }

.purples_row_four_1{ @include block(#605F9D) }

.purples_row_four_2{ @include block(#9600FF) }

.purples_row_four_3{ @include block(#BD00FF) }

.purples_row_four_4{ @include block(#8B44AE) }

.purples_row_four_5{ @include block(#7E4DB2) }

.purples_row_five_0{ @include block(#6F3EA3) }

.purples_row_five_1{ @include block(#5F2690) }

.purples_row_five_2{ @include block(#4F1B85) }

.purples_row_five_3{ @include block(#3D1E6D) }

.purples_row_five_4{ @include block(#B000FF) }

.purples_row_five_5{ @include block(#9D00E3) }

.purples_row_six_0{ @include block(#8600C3) }

.purples_row_six_1{ @include block(#7800AE) }

.purples_row_six_2{ @include block(#6C009C) }

.purples_row_six_3{ @include block(#CE9EFF) }

.purples_row_six_4{ @include block(#CEA3FF) }

.purples_row_six_5{ @include block(#D4AAFF) }

.purples_row_seven_0{ @include block(#D6B2FF) }

.purples_row_seven_1{ @include block(#DDBCFF) }

.purples_row_seven_2{ @include block(#9A7EB8) }

.purples_row_seven_3{ @include block(#734E9A) }

.purples_row_seven_4{ @include block(#572C84) }

.purples_row_seven_5{ @include block(#C699DC) }

.purples_row_eight_0{ @include block(#7C4199) }

.purples_row_eight_1{ @include block(#CEBFE2) }

.purples_row_eight_2{ @include block(#AE95D0) }

.purples_row_eight_3{ @include block(#796891) }

.purples_row_eight_4{ @include block(#8B4EA7) }

.purples_row_eight_5{ @include block(#7540AE) }

.purples_row_nine_0{ @include block(#6600AE) }

.purples_row_nine_1{ @include block(#5B0A78) }

.purples_row_nine_2{ @include block(#560952) }

.purples_row_nine_3{ @include block(#AE7FA5) }

.purples_row_nine_4{ @include block(#9F4B8A) }

.purples_row_nine_5{ @include block(#782267) }

.purples_row_ten_0{ @include block(#650950) }

.purples_row_ten_1{ @include block(#540043) }

.purples_row_ten_2{ @include block(#7655DB) }

.purples_row_ten_3{ @include block(#7D5DDD) }

.purples_row_ten_4{ @include block(#8263DD) }

.purples_row_ten_5{ @include block(#8A6FDB) }




// blues

.white_row_one_0{ @include block(#20375E) }

.white_row_one_1{ @include block(#293F65) }

.white_row_one_2{ @include block(#344A6F) }

.white_row_one_3{ @include block(#40567A) }

.white_row_one_4{ @include block(#4B5F81) }

.white_row_one_5{ @include block(#05B8DF) }

.white_row_two_0{ @include block(#1B1D90) }

.white_row_two_1{ @include block(#181572) }

.white_row_two_2{ @include block(#141256) }

.white_row_two_3{ @include block(#2B57A7) }

.white_row_two_4{ @include block(#428BCA) }

.white_row_two_5{ @include block(#205D8A) }

.white_row_three_0{ @include block(#0F2C56) }

.white_row_three_1{ @include block(#27779A) }

.white_row_three_2{ @include block(#2B57A7) }

.white_row_three_3{ @include block(#05146E) }

.white_row_three_4{ @include block(#0C226F) }

.white_row_three_5{ @include block(#224DCE) }

.white_row_four_0{ @include block(#0068F4) }

.white_row_four_1{ @include block(#03153D) }

.white_row_four_2{ @include block(#4C6AFF) }

.white_row_four_3{ @include block(#5292FF) }

.white_row_four_4{ @include block(#17146D) }

.white_row_four_5{ @include block(#151D5A) }

.white_row_five_0{ @include block(#245292) }

.white_row_five_1{ @include block(#6987D8) }

.white_row_five_2{ @include block(#4C73DB) }

.white_row_five_3{ @include block(#305ACE) }

.white_row_five_4{ @include block(#2351CE) }

.white_row_five_5{ @include block(#0B3AB6) }

.white_row_six_0{ @include block(#2C2A63) }

.white_row_six_1{ @include block(#2D2B65) }

.white_row_six_2{ @include block(#2F2D6A) }

.white_row_six_3{ @include block(#302E75) }

.white_row_six_4{ @include block(#35327E) }

.white_row_six_5{ @include block(#4E7CB0) }

.white_row_seven_0{ @include block(#4069A1) }

.white_row_seven_1{ @include block(#475C89) }

.white_row_seven_2{ @include block(#39487E) }

.white_row_seven_3{ @include block(#35436B) }

.white_row_seven_4{ @include block(#3D3F83) }

.white_row_seven_5{ @include block(#12105E) }

.white_row_eight_0{ @include block(#0B126F) }

.white_row_eight_1{ @include block(#2A3B90) }

.white_row_eight_2{ @include block(#4F6AC9) }

.white_row_eight_3{ @include block(#002855) }

.white_row_eight_4{ @include block(#012345) }

.white_row_eight_5{ @include block(#123456) }

.white_row_nine_0{ @include block(#234567) }

.white_row_nine_1{ @include block(#345678) }

.white_row_nine_2{ @include block(#456789) }

.white_row_nine_3{ @include block(#71ACC9) }

.white_row_nine_4{ @include block(#447EA9) }

.white_row_nine_5{ @include block(#306994) }

.white_row_ten_0{ @include block(#00214F) }

.white_row_ten_1{ @include block(#0099CC) }

.white_row_ten_2{ @include block(#003399) }

.white_row_ten_3{ @include block(#3964C3) }

.white_row_ten_4{ @include block(#080060) }

.white_row_ten_5{ @include block(#02356A) }


// cyans






.cyan_row_one_0{ @include block(#00F9FF) }

.cyan_row_one_1{ @include block(#E8FFF4) }

.cyan_row_one_2{ @include block(#D3FFF4) }

.cyan_row_one_3{ @include block(#B5FFEE) }

.cyan_row_one_4{ @include block(#93FFE4) }

.cyan_row_one_5{ @include block(#7AFFDD) }

.cyan_row_two_0{ @include block(#89FFFF) }

.cyan_row_two_1{ @include block(#00FFFF) }

.cyan_row_two_2{ @include block(#00FFFE) }

.cyan_row_two_3{ @include block(#00F9FF) }

.cyan_row_two_4{ @include block(#66FBFF) }

.cyan_row_two_5{ @include block(#A4F8FF) }

.cyan_row_three_0{ @include block(#C4FBFF) }

.cyan_row_three_1{ @include block(#00F8F8) }

.cyan_row_three_2{ @include block(#00BABA) }

.cyan_row_three_3{ @include block(#A5FFF7) }

.cyan_row_three_4{ @include block(#7FE6E6) }

.cyan_row_three_5{ @include block(#99EBEB) }

.cyan_row_four_0{ @include block(#B2F0F0) }

.cyan_row_four_1{ @include block(#CCF5F5) }

.cyan_row_four_2{ @include block(#7FFFFF) }

.cyan_row_four_3{ @include block(#99FFFF) }

.cyan_row_four_4{ @include block(#B2FFFF) }

.cyan_row_four_5{ @include block(#CCFFFF) }

.cyan_row_five_0{ @include block(#E5FFFF) }

.cyan_row_five_1{ @include block(#7FF6F6) }

.cyan_row_five_2{ @include block(#99F8F8) }

.cyan_row_five_3{ @include block(#B2F9F9) }

.cyan_row_five_4{ @include block(#CCFBFB) }

.cyan_row_five_5{ @include block(#E5FDFD) }

.cyan_row_six_0{ @include block(#00FFD2) }

.cyan_row_six_1{ @include block(#35FFDB) }

.cyan_row_six_2{ @include block(#62FFE3) }

.cyan_row_six_3{ @include block(#84FFE9) }

.cyan_row_six_4{ @include block(#84FFE9) }

.cyan_row_six_5{ @include block(#A6FFEF) }

.cyan_row_seven_0{ @include block(#55EEE3) }

.cyan_row_seven_1{ @include block(#00DFFC) }

.cyan_row_seven_2{ @include block(#BAF8F8) }

.cyan_row_seven_3{ @include block(#7CF8F8) }

.cyan_row_seven_4{ @include block(#3EF8F8) }

.cyan_row_seven_5{ @include block(#00F8F8) }

.cyan_row_eight_0{ @include block(#91FFFF) }

.cyan_row_eight_1{ @include block(#01FEFF) }

.cyan_row_eight_2{ @include block(#80FCFC) }

.cyan_row_eight_3{ @include block(#8AFFFF) }

.cyan_row_eight_4{ @include block(#19F6E5) }

.cyan_row_eight_5{ @include block(#10F6E5) }

.cyan_row_nine_0{ @include block(#34F9E0) }

.cyan_row_nine_1{ @include block(#00ECFF) }

.cyan_row_nine_2{ @include block(#3AE1E5) }

.cyan_row_nine_3{ @include block(#00BCD4) }

.cyan_row_nine_4{ @include block(#80F0FF) }

.cyan_row_nine_5{ @include block(#0092A6) }

.cyan_row_ten_0{ @include block(#007C8C) }

.cyan_row_ten_1{ @include block(#005A66) }

.cyan_row_ten_2{ @include block(#00444D) }

.cyan_row_ten_3{ @include block(#002226) }

.cyan_row_ten_4{ @include block(#82D7D0) }

.cyan_row_ten_5{ @include block(#02BFC5) }












// sky-blues




.skyblue_row_one_0{ @include block(#00ABEB) }

.skyblue_row_one_1{ @include block(#0080FF) }

.skyblue_row_one_2{ @include block(#0080FF) }

.skyblue_row_one_3{ @include block(#006BFF) }

.skyblue_row_one_4{ @include block(#0078FF) }

.skyblue_row_one_5{ @include block(#0085FF) }

.skyblue_row_two_0{ @include block(#0092FF) }

.skyblue_row_two_1{ @include block(#009FFF) }

.skyblue_row_two_2{ @include block(#009FFF) }

.skyblue_row_two_3{ @include block(#19A8FF) }

.skyblue_row_two_4{ @include block(#30B1FF) }

.skyblue_row_two_5{ @include block(#48BAFF) }

.skyblue_row_three_0{ @include block(#62C4FF) }

.skyblue_row_three_1{ @include block(#00BCFF) }

.skyblue_row_three_2{ @include block(#008FFF) }

.skyblue_row_three_3{ @include block(#0045FF) }

.skyblue_row_three_4{ @include block(#0078FF) }

.skyblue_row_three_5{ @include block(#00B8FF) }

.skyblue_row_four_0{ @include block(#007FFF) }

.skyblue_row_four_1{ @include block(#0DBAF4) }

.skyblue_row_four_2{ @include block(#3D94DB) }

.skyblue_row_four_3{ @include block(#70CBDD) }

.skyblue_row_four_4{ @include block(#024DFF) }

.skyblue_row_four_5{ @include block(#67D1FF) }

.skyblue_row_five_0{ @include block(#00BFFF) }

.skyblue_row_five_1{ @include block(#00B2FF) }

.skyblue_row_five_2{ @include block(#4DC9FF) }

.skyblue_row_five_3{ @include block(#80D9FF) }

.skyblue_row_five_4{ @include block(#00CDF5) }

.skyblue_row_five_5{ @include block(#16D2F5) }

.skyblue_row_six_0{ @include block(#00ADF1) }

.skyblue_row_six_1{ @include block(#0080FF) }

.skyblue_row_six_2{ @include block(#1261F1) }

.skyblue_row_six_3{ @include block(#0080FF) }

.skyblue_row_six_4{ @include block(#138DFE) }

.skyblue_row_six_5{ @include block(#38A7FE) }

.skyblue_row_seven_0{ @include block(#2846FC) }

.skyblue_row_seven_1{ @include block(#1D3DF6) }

.skyblue_row_seven_2{ @include block(#01B4EC) }

.skyblue_row_seven_3{ @include block(#54A4DF) }

.skyblue_row_seven_4{ @include block(#2DA6F7) }

.skyblue_row_seven_5{ @include block(#537CA8) }

.skyblue_row_eight_0{ @include block(#4C7FC0) }

.skyblue_row_eight_1{ @include block(#54C3FA) }

.skyblue_row_eight_2{ @include block(#1391FF) }

.skyblue_row_eight_3{ @include block(#2F94E6) }

.skyblue_row_eight_4{ @include block(#7B97C6) }

.skyblue_row_eight_5{ @include block(#4782E5) }

.skyblue_row_nine_0{ @include block(#245FF6) }

.skyblue_row_nine_1{ @include block(#0E56A2) }

.skyblue_row_nine_2{ @include block(#418CE9) }

.skyblue_row_nine_3{ @include block(#4F8CD8) }

.skyblue_row_nine_4{ @include block(#3465AA) }

.skyblue_row_nine_5{ @include block(#183FBA) }

.skyblue_row_ten_0{ @include block(#4A9AD5) }

.skyblue_row_ten_1{ @include block(#0170DC) }

.skyblue_row_ten_2{ @include block(#0069C4) }

.skyblue_row_ten_3{ @include block(#01C5FF) }

.skyblue_row_ten_4{ @include block(#5092DE) }

.skyblue_row_ten_5{ @include block(#3D83F5) }









// blue greens





.bluegreen_row_one_0{ @include block(#2F648D) }

.bluegreen_row_one_1{ @include block(#164D62) }

.bluegreen_row_one_2{ @include block(#018594) }

.bluegreen_row_one_3{ @include block(#00A0A2) }

.bluegreen_row_one_4{ @include block(#35A797) }

.bluegreen_row_one_5{ @include block(#40E0D0) }

.bluegreen_row_two_0{ @include block(#A3FFCA) }

.bluegreen_row_two_1{ @include block(#CDF4DC) }

.bluegreen_row_two_2{ @include block(#99FBD6) }

.bluegreen_row_two_3{ @include block(#79FFC6) }

.bluegreen_row_two_4{ @include block(#99F4E0) }

.bluegreen_row_two_5{ @include block(#00FFAB) }

.bluegreen_row_three_0{ @include block(#00FF5E) }

.bluegreen_row_three_1{ @include block(#00AE7D) }

.bluegreen_row_three_2{ @include block(#009999) }

.bluegreen_row_three_3{ @include block(#00A675) }

.bluegreen_row_three_4{ @include block(#CEF9D4) }

.bluegreen_row_three_5{ @include block(#63F3A4) }

.bluegreen_row_four_0{ @include block(#06723C) }

.bluegreen_row_four_1{ @include block(#093B31) }

.bluegreen_row_four_2{ @include block(#00B3B3) }

.bluegreen_row_four_3{ @include block(#218B8D) }

.bluegreen_row_four_4{ @include block(#26A2B0) }

.bluegreen_row_four_5{ @include block(#3ACEAD) }

.bluegreen_row_five_0{ @include block(#00A5CB) }

.bluegreen_row_five_1{ @include block(#86B6AF) }

.bluegreen_row_five_2{ @include block(#98CCD7) }

.bluegreen_row_five_3{ @include block(#96C6C6) }

.bluegreen_row_five_4{ @include block(#71B1A1) }

.bluegreen_row_five_5{ @include block(#84BEB2) }

.bluegreen_row_six_0{ @include block(#A8DACF) }

.bluegreen_row_six_1{ @include block(#BFEEE6) }

.bluegreen_row_six_2{ @include block(#7CC7C0) }

.bluegreen_row_six_3{ @include block(#9EC6C0) }

.bluegreen_row_six_4{ @include block(#A9D6CA) }

.bluegreen_row_six_5{ @include block(#8FCAC6) }

.bluegreen_row_seven_0{ @include block(#BFEEE6) }

.bluegreen_row_seven_1{ @include block(#71B1A1) }

.bluegreen_row_seven_2{ @include block(#96C6C6) }

.bluegreen_row_seven_3{ @include block(#A8DACF) }

.bluegreen_row_seven_4{ @include block(#5A91A1) }

.bluegreen_row_seven_5{ @include block(#364B56) }

.bluegreen_row_eight_0{ @include block(#B5D8C7) }

.bluegreen_row_eight_1{ @include block(#95E0CE) }

.bluegreen_row_eight_2{ @include block(#86B6AF) }

.bluegreen_row_eight_3{ @include block(#A3C5B8) }

.bluegreen_row_eight_4{ @include block(#76EAD0) }

.bluegreen_row_eight_5{ @include block(#76D7EA) }

.bluegreen_row_nine_0{ @include block(#A9D9D0) }

.bluegreen_row_nine_1{ @include block(#A9CFD9) }

.bluegreen_row_nine_2{ @include block(#A9BED9) }

.bluegreen_row_nine_3{ @include block(#8CD3DB) }

.bluegreen_row_nine_4{ @include block(#83B3DB) }

.bluegreen_row_nine_5{ @include block(#A0DBBF) }

.bluegreen_row_ten_0{ @include block(#227798) }

.bluegreen_row_ten_1{ @include block(#4B9890) }

.bluegreen_row_ten_2{ @include block(#72B889) }

.bluegreen_row_ten_3{ @include block(#97D681) }

.bluegreen_row_ten_4{ @include block(#00776B) }

.bluegreen_row_ten_5{ @include block(#006B6C) }






// dark turq



.darkturq_row_one_0{ @include block(#329F9C) }

.darkturq_row_one_1{ @include block(#1A5C5A) }

.darkturq_row_one_2{ @include block(#196765) }

.darkturq_row_one_3{ @include block(#197A73) }

.darkturq_row_one_4{ @include block(#20837B) }

.darkturq_row_one_5{ @include block(#218D85) }

.darkturq_row_two_0{ @include block(#003747) }

.darkturq_row_two_1{ @include block(#065465) }

.darkturq_row_two_2{ @include block(#046276) }

.darkturq_row_two_3{ @include block(#026A81) }

.darkturq_row_two_4{ @include block(#06768D) }

.darkturq_row_two_5{ @include block(#00787D) }

.darkturq_row_three_0{ @include block(#00868B) }

.darkturq_row_three_1{ @include block(#053E42) }

.darkturq_row_three_2{ @include block(#032F3C) }

.darkturq_row_three_3{ @include block(#02474D) }

.darkturq_row_three_4{ @include block(#046169) }

.darkturq_row_three_5{ @include block(#26867C) }

.darkturq_row_four_0{ @include block(#062c38) }

.darkturq_row_four_1{ @include block(#053949) }

.darkturq_row_four_2{ @include block(#022731) }

.darkturq_row_four_3{ @include block(#04252f) }

.darkturq_row_four_4{ @include block(#1A5C5A) }

.darkturq_row_four_5{ @include block(#164d4b) }

.darkturq_row_five_0{ @include block(#133e3d) }

.darkturq_row_five_1{ @include block(#003747) }

.darkturq_row_five_2{ @include block(#065465) }

.darkturq_row_five_3{ @include block(#092B2A) }

.darkturq_row_five_4{ @include block(#00585C) }

.darkturq_row_five_5{ @include block(#023F51) }

.darkturq_row_six_0{ @include block(#06212A) }

.darkturq_row_six_1{ @include block(#034040) }

.darkturq_row_six_2{ @include block(#095050) }

.darkturq_row_six_3{ @include block(#094750) }

.darkturq_row_six_4{ @include block(#065965) }

.darkturq_row_six_5{ @include block(#07434f) }

.darkturq_row_seven_0{ @include block(#084d50) }

.darkturq_row_seven_1{ @include block(#06383b) }

.darkturq_row_seven_2{ @include block(#032b2d) }

.darkturq_row_seven_3{ @include block(#074942) }

.darkturq_row_seven_4{ @include block(#0b4640) }

.darkturq_row_seven_5{ @include block(#185750) }

.darkturq_row_eight_0{ @include block(#1b4d47) }

.darkturq_row_eight_1{ @include block(#1b4c4d) }

.darkturq_row_eight_2{ @include block(#205c5d) }

.darkturq_row_eight_3{ @include block(#154546) }

.darkturq_row_eight_4{ @include block(#082c2d) }

.darkturq_row_eight_5{ @include block(#0e2f30) }

.darkturq_row_nine_0{ @include block(#154042) }

.darkturq_row_nine_1{ @include block(#06686d) }

.darkturq_row_nine_2{ @include block(#0f595d) }

.darkturq_row_nine_3{ @include block(#105154) }

.darkturq_row_nine_4{ @include block(#082b2d) }

.darkturq_row_nine_5{ @include block(#2e4f50) }

.darkturq_row_ten_0{ @include block(#2e504c) }

.darkturq_row_ten_1{ @include block(#1e5b54) }

.darkturq_row_ten_2{ @include block(#1c766c) }

.darkturq_row_ten_3{ @include block(#0c574f) }

.darkturq_row_ten_4{ @include block(#094a3a) }

.darkturq_row_ten_5{ @include block(#14524a) }









// light turq.


.lightturq_row_one_0{ @include block(#329F9C) }

.lightturq_row_one_1{ @include block(#00A9AE) }

.lightturq_row_one_2{ @include block(#0CAFBD) }

.lightturq_row_one_3{ @include block(#17BAC7) }

.lightturq_row_one_4{ @include block(#3AC3D6) }

.lightturq_row_one_5{ @include block(#79DFD2) }

.lightturq_row_two_0{ @include block(#86E5DE) }

.lightturq_row_two_1{ @include block(#84ECE4) }

.lightturq_row_two_2{ @include block(#89F4E7) }

.lightturq_row_two_3{ @include block(#9CF0EA) }

.lightturq_row_two_4{ @include block(#7B7767) }

.lightturq_row_two_5{ @include block(#6B7767) }

.lightturq_row_three_0{ @include block(#5B7767) }

.lightturq_row_three_1{ @include block(#4B7767) }

.lightturq_row_three_2{ @include block(#3B7767) }

.lightturq_row_three_3{ @include block(#519488) }

.lightturq_row_three_4{ @include block(#60B6BD) }

.lightturq_row_three_5{ @include block(#21A3AE) }

.lightturq_row_four_0{ @include block(#167785) }

.lightturq_row_four_1{ @include block(#4CAAAD) }

.lightturq_row_four_2{ @include block(#329EA2) }

.lightturq_row_four_3{ @include block(#199296) }

.lightturq_row_four_4{ @include block(#00868B) }

.lightturq_row_four_5{ @include block(#C5F5F0) }

.lightturq_row_five_0{ @include block(#8CECE2) }

.lightturq_row_five_1{ @include block(#40E0D0) }

.lightturq_row_five_2{ @include block(#33B3A6) }

.lightturq_row_five_3{ @include block(#26867C) }

.lightturq_row_five_4{ @include block(#00D1B1) }

.lightturq_row_five_5{ @include block(#00D1A0) }

.lightturq_row_six_0{ @include block(#318C8C) }

.lightturq_row_six_1{ @include block(#B3ECEC) }

.lightturq_row_six_2{ @include block(#89ECDA) }

.lightturq_row_six_3{ @include block(#43E8D8) }

.lightturq_row_six_4{ @include block(#43E8D8) }

.lightturq_row_six_5{ @include block(#40E0D0) }

.lightturq_row_seven_0{ @include block(#3BD6C6) }

.lightturq_row_seven_1{ @include block(#08B1A0) }

.lightturq_row_seven_2{ @include block(#9CF3EB) }

.lightturq_row_seven_3{ @include block(#1B9CB1) }

.lightturq_row_seven_4{ @include block(#87E3DE) }

.lightturq_row_seven_5{ @include block(#40E0D0) }

.lightturq_row_eight_0{ @include block(#66DEDC) }

.lightturq_row_eight_1{ @include block(#00D9D3) }

.lightturq_row_eight_2{ @include block(#12A88E) }

.lightturq_row_eight_3{ @include block(#DBEFF0) }

.lightturq_row_eight_4{ @include block(#9FD5D5) }

.lightturq_row_eight_5{ @include block(#79BDBC) }

.lightturq_row_nine_0{ @include block(#53A7A7) }

.lightturq_row_nine_1{ @include block(#328D88) }

.lightturq_row_nine_2{ @include block(#176663) }

.lightturq_row_nine_3{ @include block(#0AB6A2) }

.lightturq_row_nine_4{ @include block(#29B4A9) }

.lightturq_row_nine_5{ @include block(#3CB5B0) }

.lightturq_row_ten_0{ @include block(#24B9B5) }

.lightturq_row_ten_1{ @include block(#28DCD0) }

.lightturq_row_ten_2{ @include block(#14B8B1) }

.lightturq_row_ten_3{ @include block(#46BABA) }

.lightturq_row_ten_4{ @include block(#036584) }

.lightturq_row_ten_5{ @include block(#0BAE91) }







// greens







.greens_row_one_0{ @include block(#48C972) }

.greens_row_one_1{ @include block(#0EE112) }

.greens_row_one_2{ @include block(#7BFF52) }

.greens_row_one_3{ @include block(#7DEE26) }

.greens_row_one_4{ @include block(#56FB47) }

.greens_row_one_5{ @include block(#A6DD8A) }

.greens_row_two_0{ @include block(#A7FF99) }

.greens_row_two_1{ @include block(#7BE351) }

.greens_row_two_2{ @include block(#7DC377) }

.greens_row_two_3{ @include block(#6AD666) }

.greens_row_two_4{ @include block(#96D7CC) }

.greens_row_two_5{ @include block(#A8DED5) }

.greens_row_three_0{ @include block(#D5FFE4) }

.greens_row_three_1{ @include block(#EAFFF1) }

.greens_row_three_2{ @include block(#E5FFEE) }

.greens_row_three_3{ @include block(#8AE8AF) }

.greens_row_three_4{ @include block(#4EB587) }

.greens_row_three_5{ @include block(#039368) }

.greens_row_four_0{ @include block(#00776B) }

.greens_row_four_1{ @include block(#006B6C) }

.greens_row_four_2{ @include block(#00923D) }

.greens_row_four_3{ @include block(#0AA53B) }

.greens_row_four_4{ @include block(#0FB600) }

.greens_row_four_5{ @include block(#08C314) }

.greens_row_five_0{ @include block(#00D42E) }

.greens_row_five_1{ @include block(#DDEED5) }

.greens_row_five_2{ @include block(#C8ECB7) }

.greens_row_five_3{ @include block(#B5EC9B) }

.greens_row_five_4{ @include block(#95EC6C) }

.greens_row_five_5{ @include block(#79F042) }

.greens_row_six_0{ @include block(#01DF10) }

.greens_row_six_1{ @include block(#43DB65) }

.greens_row_six_2{ @include block(#43D236) }

.greens_row_six_3{ @include block(#68D83B) }

.greens_row_six_4{ @include block(#8ADF28) }

.greens_row_six_5{ @include block(#BDF679) }

.greens_row_seven_0{ @include block(#97D681) }

.greens_row_seven_1{ @include block(#005500) }

.greens_row_seven_2{ @include block(#00AA00) }

.greens_row_seven_3{ @include block(#00D400) }

.greens_row_seven_4{ @include block(#00FF00) }

.greens_row_seven_5{ @include block(#D0FF99) }

.greens_row_eight_0{ @include block(#99FF99) }

.greens_row_eight_1{ @include block(#D0FF99) }

.greens_row_eight_2{ @include block(#99FF99) }

.greens_row_eight_3{ @include block(#A6DD8A) }

.greens_row_eight_4{ @include block(#A7FF99) }

.greens_row_eight_5{ @include block(#7BE351) }

.greens_row_nine_0{ @include block(#7DC377) }

.greens_row_nine_1{ @include block(#6AD666) }

.greens_row_nine_2{ @include block(#5CB85C) }

.greens_row_nine_3{ @include block(#008744) }

.greens_row_nine_4{ @include block(#559E83) }

.greens_row_nine_5{ @include block(#2A623D) }

.greens_row_ten_0{ @include block(#1A472A) }

.greens_row_ten_1{ @include block(#A8E6CF) }

.greens_row_ten_2{ @include block(#A0D6B4) }

.greens_row_ten_3{ @include block(#009246) }

.greens_row_ten_4{ @include block(#52BF90) }

.greens_row_ten_5{ @include block(#49AB81) }



// yellows




.yellows_row_one_0{ @include block(#FEF036) }

.yellows_row_one_1{ @include block(#F9FF93) }

.yellows_row_one_2{ @include block(#FFFA82) }

.yellows_row_one_3{ @include block(#FFE650) }

.yellows_row_one_4{ @include block(#F4FF48) }

.yellows_row_one_5{ @include block(#FFE700) }

.yellows_row_two_0{ @include block(#FEF65B) }

.yellows_row_two_1{ @include block(#FEF77B) }

.yellows_row_two_2{ @include block(#FEF88C) }

.yellows_row_two_3{ @include block(#FEF99C) }

.yellows_row_two_4{ @include block(#FEFAAD) }

.yellows_row_two_5{ @include block(#F3E557) }

.yellows_row_three_0{ @include block(#FBDD29) }

.yellows_row_three_1{ @include block(#EEB702) }

.yellows_row_three_2{ @include block(#F4F49F) }

.yellows_row_three_3{ @include block(#FEF65B) }

.yellows_row_three_4{ @include block(#FFF980) }

.yellows_row_three_5{ @include block(#FFFBB0) }

.yellows_row_four_0{ @include block(#FFFCC1) }

.yellows_row_four_1{ @include block(#FFFDD5) }

.yellows_row_four_2{ @include block(#E5F614) }

.yellows_row_four_3{ @include block(#FFFA8A) }

.yellows_row_four_4{ @include block(#FAFFA2) }

.yellows_row_four_5{ @include block(#FDFF00) }

.yellows_row_five_0{ @include block(#FFE921) }

.yellows_row_five_1{ @include block(#F4DC00) }

.yellows_row_five_2{ @include block(#FEF65B) }

.yellows_row_five_3{ @include block(#F7F286) }

.yellows_row_five_4{ @include block(#F7F3A0) }

.yellows_row_five_5{ @include block(#F7F5CB) }

.yellows_row_six_0{ @include block(#F9F6B6) }

.yellows_row_six_1{ @include block(#FDE000) }

.yellows_row_six_2{ @include block(#FFFF9E) }

.yellows_row_six_3{ @include block(#FFFCAA) }

.yellows_row_six_4{ @include block(#FFFFB5) }

.yellows_row_six_5{ @include block(#FFFFBC) }

.yellows_row_seven_0{ @include block(#FFF585) }

.yellows_row_seven_1{ @include block(#DDD269) }

.yellows_row_seven_2{ @include block(#F0B90C) }

.yellows_row_seven_3{ @include block(#EFFF99) }

.yellows_row_seven_4{ @include block(#FFFF9F) }

.yellows_row_seven_5{ @include block(#FFFF9F) }

.yellows_row_eight_0{ @include block(#FAFFA2) }

.yellows_row_eight_1{ @include block(#FFFA8A) }

.yellows_row_eight_2{ @include block(#FFE48F) }

.yellows_row_eight_3{ @include block(#FFFDD5) }

.yellows_row_eight_4{ @include block(#FFFCC1) }

.yellows_row_eight_5{ @include block(#FFFBB0) }

.yellows_row_nine_0{ @include block(#FFF980) }

.yellows_row_nine_1{ @include block(#FEF65B) }

.yellows_row_nine_2{ @include block(#FEFF6A) }

.yellows_row_nine_3{ @include block(#F3FF3B) }

.yellows_row_nine_4{ @include block(#F7F5CB) }

.yellows_row_nine_5{ @include block(#F9F6B6) }

.yellows_row_ten_0{ @include block(#F7F3A0) }

.yellows_row_ten_1{ @include block(#F7F286) }

.yellows_row_ten_2{ @include block(#FEF65B) }

.yellows_row_ten_3{ @include block(#FFC700) }

.yellows_row_ten_4{ @include block(#FFC100) }

.yellows_row_ten_5{ @include block(#FFE700) }
