.set_tight {
  position: relative; }

.set_firm {
  position: absolute; }

.top_left_tri {
  background-color: #4171A0;
  position: absolute;
  width: 300px;
  height: 100%;
  transform: rotate(50deg);
  top: -400px;
  left: -100px; }

.center-logo {
  position: absolute;
  left: 50%;
  margin-left: -90px !important;
  display: block;
  top: 0; }

.abos {
  position: absolute; }

.top_left_tri2 {
  background-color: #4C90C1;
  position: absolute;
  width: 300px;
  height: 100%;
  transform: rotate(68deg);
  top: -520px;
  left: -200px; }

.pt_sans_300 {
  font: 300% "Ubuntu", sans-serif;
  color: #F1F1F1; }

.pt_sans_200 {
  font: 200% "Ubuntu", sans-serif;
  color: #F1F1F1; }

.pt_sans_100 {
  font: 100% "Ubuntu", sans-serif;
  color: #F1F1F1; }

.pt_sans_50l {
  font: 50% "Ubuntu", sans-serif;
  font-weight: 50;
  color: #F1F1F1; }

.pt_sans_300l {
  font: 300% "Ubuntu", sans-serif;
  font-weight: 300;
  color: #F1F1F1; }

.pt_sans_200l {
  font: 200% "Ubuntu", sans-serif;
  font-weight: 300;
  color: #F1F1F1; }

.pt_sans_165l {
  font: 165% "Ubuntu", sans-serif;
  font-weight: 300;
  color: #F1F1F1; }

.pt_sans_100l {
  font: 100% "Ubuntu", sans-serif;
  font-weight: 100;
  color: #F1F1F1; }

.pt_sans_125l {
  font: 125% "Ubuntu", sans-serif;
  font-weight: 100;
  color: #F1F1F1; }

.pt_sans_50 {
  font: 50% "Ubuntu", sans-serif;
  color: #F1F1F1; }

.center-weak {
  text-align: center; }

.center-strong {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%); }

.divider_ {
  margin-top: 100px;
  width: 700px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid grey; }

.navbar-oasis {
  background-color: #F1F1F1;
  padding: 30px; }

.cover_1 {
  background-color: #1F1F1F;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999; }

.cover_2 {
  background-color: #1F1F1F;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 50vw;
  top: 0px;
  z-index: 999; }

.divider__ {
  margin-top: 100px;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid grey; }

.divider___ {
  margin-top: 100px;
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid grey; }

.palette_1 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #FEF036;
  top: 900px;
  left: 0vw; }
  .palette_1:hover {
    top: 800px;
    height: 400px; }

.palette_2 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #76C775;
  top: 900px;
  left: 5.25vw; }
  .palette_2:hover {
    top: 800px;
    height: 400px; }

.palette_3 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #2F648D;
  top: 900px;
  left: 10.5vw; }
  .palette_3:hover {
    top: 800px;
    height: 400px; }

.palette_4 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #917CB7;
  top: 900px;
  left: 15.75vw; }
  .palette_4:hover {
    top: 800px;
    height: 400px; }

.palette_5 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #F3AECE;
  top: 900px;
  left: 21vw; }
  .palette_5:hover {
    top: 800px;
    height: 400px; }

.palette_6 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #EF5D61;
  top: 900px;
  left: 26.25vw; }
  .palette_6:hover {
    top: 800px;
    height: 400px; }

.palette_7 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #FD9B37;
  top: 900px;
  left: 31.5vw; }
  .palette_7:hover {
    top: 800px;
    height: 400px; }

.palette_8 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #94775E;
  top: 900px;
  left: 36.75vw; }
  .palette_8:hover {
    top: 800px;
    height: 400px; }

.palette_9 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #363636;
  top: 900px;
  left: 42vw; }
  .palette_9:hover {
    top: 800px;
    height: 400px; }

.palette_10 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #6A6A6A;
  top: 900px;
  left: 47.25vw; }
  .palette_10:hover {
    top: 800px;
    height: 400px; }

.palette_11 {
  position: absolute;
  transition: top 0.5s, height 0.5s;
  width: 5vw;
  height: 300px;
  background-color: #CACDCC;
  top: 900px;
  left: 52.5vw; }
  .palette_11:hover {
    top: 800px;
    height: 400px; }

.palette_1_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #FEF036;
  top: 998px;
  left: 0vw; }
  .palette_1_mb:hover {
    top: 898px;
    height: 300px; }

.palette_2_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #76C775;
  top: 998px;
  left: 5.25vw; }
  .palette_2_mb:hover {
    top: 898px;
    height: 300px; }

.palette_3_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #2F648D;
  top: 998px;
  left: 10.5vw; }
  .palette_3_mb:hover {
    top: 898px;
    height: 300px; }

.palette_4_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #917CB7;
  top: 998px;
  left: 15.75vw; }
  .palette_4_mb:hover {
    top: 898px;
    height: 300px; }

.palette_5_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #F3AECE;
  top: 998px;
  left: 21vw; }
  .palette_5_mb:hover {
    top: 898px;
    height: 300px; }

.palette_6_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #EF5D61;
  top: 998px;
  left: 26.25vw; }
  .palette_6_mb:hover {
    top: 898px;
    height: 300px; }

.palette_7_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #FD9B37;
  top: 998px;
  left: 31.5vw; }
  .palette_7_mb:hover {
    top: 898px;
    height: 300px; }

.palette_8_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #94775E;
  top: 998px;
  left: 36.75vw; }
  .palette_8_mb:hover {
    top: 898px;
    height: 300px; }

.palette_9_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #363636;
  top: 998px;
  left: 42vw; }
  .palette_9_mb:hover {
    top: 898px;
    height: 300px; }

.palette_10_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #6A6A6A;
  top: 998px;
  left: 47.25vw; }
  .palette_10_mb:hover {
    top: 898px;
    height: 300px; }

.palette_11_mb {
  position: absolute;
  transition: top 0.3s, height 0.3s;
  width: 5vw;
  height: 200px;
  background-color: #CACDCC;
  top: 998px;
  left: 52.5vw; }
  .palette_11_mb:hover {
    top: 898px;
    height: 300px; }

.curve_edges {
  -webkit-border-radius: 275px;
  -moz-border-radius: 275px;
  -ms-border-radius: 275px;
  border-radius: 275px; }

.margin-bot-100 {
  margin-bottom: 100px; }

.hard-push-50 {
  top: 50px; }

.hard-push-100 {
  top: 100px; }

.hard-push-150 {
  top: 150px; }

.hard-push-155 {
  top: 155px; }

.svg_font {
  font-family: 'Roboto', sans-serif; }

.pushDown-50 {
  padding-top: 50px;
  margin-top: 50px; }

.pushDown-100 {
  padding-top: 100px;
  margin-top: 100px; }

.pushDown-150 {
  padding-top: 150px;
  margin-top: 150px; }

.pushDown-200 {
  padding-top: 200px;
  margin-top: 200px; }

.squeze_feather {
  max-width: 70%;
  margin: 0 auto; }

.squeze_gentle {
  max-width: 70%;
  margin: 0 auto; }

.squeze_firm {
  max-width: 50%;
  margin: 0 auto; }

.squeze_tight {
  max-width: 30%;
  margin: 0 auto; }

.wq-header {
  background-color: #242831;
  height: 1200px;
  width: 100%;
  position: absolute; }

.wq-header2 {
  background-color: #2B313C;
  height: 800px;
  width: 100%;
  position: absolute; }

.wq-header3 {
  background-color: #242831;
  top: 1200px;
  height: 200px;
  width: 100%;
  position: absolute; }

html {
  height: 2000px;
  background-color: #2094F8; }

/*# sourceMappingURL=style.css.map */
