// VARAIBLES

// fonts
$pt_sans: 'Ubuntu', sans-serif;
// color
$black: #F1F1F1;
$white: #FFFFFF;
$blue: #2094F8;
// mobile and other max widths
$mobiles: 550px;
$tablets: 1050px;
$desktops: 1051px;
// MIXINS
@mixin tight(){
	position: absolute;
}

@mixin firm(){
	position: relative;
}

@mixin ciruclar($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin margin_bot($ammount){
	margin-bottom: $ammount;
}
@mixin pushDown($length){
	padding-top: $length;
	margin-top: $length;
}

@mixin hard_push_down($length){
	top: $length;
}

@mixin rotate($deg){
	transform: rotate($deg);
}

.set_tight{
	@include firm();
}

.set_firm{
	@include tight();
}

.top_left_tri{
	background-color: #4171A0;
	position: absolute;
	width:300px;
	height:100%;
	@include rotate(50deg);
	top:-400px;
	left:-100px;
}
.center-logo{
	position: absolute;
    left: 50%;
    margin-left: -90px !important;
    display: block;
	top:0;
}
.abos{
	position: absolute;
}

.top_left_tri2{
	background-color: #4C90C1;
	position: absolute;
	width:300px;
	height:100%;
	@include rotate(68deg);
	top:-520px;
	left:-200px;
}
// CLASSES

.pt_sans_300 {
	font: 300% $pt_sans;
	color: $black;
}

.pt_sans_200 {
	font: 200% $pt_sans;
	color: $black;
}

.pt_sans_100 {
	font: 100% $pt_sans;
	color: $black;
}

.pt_sans_50l {
	font: 50% $pt_sans;
	font-weight:50;
	color: $black;
}

.pt_sans_300l {
	font: 300% $pt_sans;
	font-weight:300;
	color: $black;
}

.pt_sans_200l {
	font: 200% $pt_sans;
	font-weight:300;
	color: $black;
}

.pt_sans_165l {
	font:165% $pt_sans;
	font-weight:300;
	color: $black;
}

.pt_sans_100l {
	font: 100% $pt_sans;
	font-weight:100;
	color: $black;
}

.pt_sans_125l {
	font: 125% $pt_sans;
	font-weight:100;
	color: $black;
}

.pt_sans_50 {
	font: 50% $pt_sans;
	color: $black;
}


.center-weak{
	text-align: center;
}

.center-strong{
	position: relative;
	left:50%;
	transform: translate(-50%, -50%);
}

.divider_{
	margin-top: 100px;
	width:700px;
	position: relative;
	left:50%;
	transform: translate(-50%, -50%);
	border-bottom: 1px solid grey;
}

.navbar-oasis{
	background-color: #F1F1F1;
	padding:30px;
}

@mixin cover($cover_color, $left, $top) {
	background-color: $cover_color;
	width:50vw;
	height:2000px;
	position: absolute;
	left:$left;
	top:$top;
	z-index:999;
}

.cover_1{
	@include cover(#1F1F1F, 0px, 0px);
}
.cover_2{
	@include cover(#1F1F1F, 50vw, 0px);
}

.divider__{
	margin-top: 100px;
	width:400px;
	position: relative;
	left:50%;
	transform: translate(-50%, -50%);
	border-bottom: 1px solid grey;
}

.divider___{
	margin-top: 100px;
	width:230px;
	position: relative;
	left:50%;
	transform: translate(-50%, -50%);
	border-bottom: 1px solid grey;
}

@mixin palette($color, $push) {
	position: absolute;
	transition: top 0.5s, height 0.5s ;
	width:5vw;
	height:300px;
	background-color:$color;
	top:900px;
	left:$push;
	&:hover{
		top:800px;
		height:400px;
	}
}

@mixin palette_mb($color, $push) {
	position: absolute;
	transition: top 0.3s, height 0.3s ;
	width:5vw;
	height:200px;
	background-color:$color;
	top:998px;
	left:$push;
	&:hover{
		top:898px;
		height:300px;
	}
}

.palette_1{
	@include palette(#FEF036, 0vw);
}

.palette_2{
	@include palette(#76C775, 5.25vw);
}

.palette_3{
	@include palette(#2F648D, 10.5vw);
}

.palette_4{
	@include palette(#917CB7, 15.75vw);
}

.palette_5{
	@include palette(#F3AECE, 21vw);
}

.palette_6{
	@include palette(#EF5D61, 26.25vw);
}

.palette_7{
	@include palette(#FD9B37, 31.5vw);
}

// from here
.palette_8{
	@include palette(#94775E, 36.75vw);
}

.palette_9{
	@include palette(#363636, 42vw);
}

.palette_10{
	@include palette(#6A6A6A, 47.25vw);
}

.palette_11{
	@include palette(#CACDCC, 52.5vw);
}
















.palette_1_mb{
	@include palette_mb(#FEF036, 0vw);
}

.palette_2_mb{
	@include palette_mb(#76C775, 5.25vw);
}

.palette_3_mb{
	@include palette_mb(#2F648D, 10.5vw);
}

.palette_4_mb{
	@include palette_mb(#917CB7, 15.75vw);
}

.palette_5_mb{
	@include palette_mb(#F3AECE, 21vw);
}

.palette_6_mb{
	@include palette_mb(#EF5D61, 26.25vw);
}

.palette_7_mb{
	@include palette_mb(#FD9B37, 31.5vw);
}

// from here
.palette_8_mb{
	@include palette_mb(#94775E, 36.75vw);
}

.palette_9_mb{
	@include palette_mb(#363636, 42vw);
}

.palette_10_mb{
	@include palette_mb(#6A6A6A, 47.25vw);
}

.palette_11_mb{
	@include palette_mb(#CACDCC, 52.5vw);
}




.curve_edges{
	@include ciruclar(275px)
}

.margin-bot-100{
	@include margin_bot(100px)
}

.hard-push-50{
	@include hard_push_down(50px);
}

.hard-push-100{
	@include hard_push_down(100px);
}

.hard-push-150{
	@include hard_push_down(150px);
}

.hard-push-155{
	@include hard_push_down(155px);
}
.svg_font{
	font-family: 'Roboto', sans-serif;
}
.pushDown-50{
	@include pushDown(50px);
}

.pushDown-100{
	@include pushDown(100px);
}

.pushDown-150{
	@include pushDown(150px);
}

.pushDown-200{
	@include pushDown(200px);
}

.squeze_feather{
	max-width: 70%;
    margin:0 auto;
}

.squeze_gentle{
	max-width: 70%;
    margin:0 auto;
}

.squeze_firm{
	max-width: 50%;
    margin:0 auto;
}

.squeze_tight{
	max-width: 30%;
    margin:0 auto;
}


.wq-header{
	background-color: #242831;
	height:1200px;
	width: 100%;
	@include tight();
}


.wq-header2{
	background-color: #2B313C;
	height:800px;
	width: 100%;
	@include tight();
}

.wq-header3{
	background-color: #242831;
	top:1200px;
	height:200px;
	width: 100%;
	@include tight();
}

html{
	height:2000px;
	background-color: $blue;
}
